html, body{
    font-family: 'Roboto Condensed', sans-serif !important;
}
table{
    width:100%;
    /*padding: 10px;*/
}
.form-bordered{
    padding:0px 30px !important;
}
.notification{
    color:rgb(255,0,0);
}
.file-preview {
    border: none !important;
}
.ad_location_date input[type="text"]{
    width:70px;
}
.tile{
    width: 31%;
    height: 150px;    
    margin: 1%;
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    float: left;
    height: 160px;
    margin: 8px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}
.big_tile{
    width: 100%;
    margin-right:10px;
    height: 350px;
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    /*float: left;*/
    text-align: center;
    vertical-align: top;
}
.side_tile{
    width: 100%;
    margin-right:10px;
    /*height: 350px;*/
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    /*float: left;*/
    text-align: center;
    vertical-align: top;
}
.ad_details{
    table-layout:fixed;
}
.ad_details td .add_border{
    border-right: 1px #000 solid;
}
.ad_details td{
    padding: 5px;
}
img, iframe{
    width:100%;
    height: 100%;
    cursor: pointer;  
    border: none;
}
.active{
    /*background:#CE0000 !important;*/
    color:#000 !important;
    /*border-right: 4px solid #fff !important;*/
}
.inner-sidebar-header{
    background:#CE0000;
    width:100%;
    margin:0;
    padding: 10px;
    color:#fff;
    font-weight:bold;
}
#page-container, #sidebar {
    background-color: #312B2D;
}
#sidebar-brand{
    background-color: #312B2D !important;
}
/*#sidebar-brand .themed-background {
    background-color: #312B2D !important;
}*/
.row{
    padding:5px 10px;
}
select{
    background-color: #AFDE5C;
    border-color: #AFDE5C;
    font-size:1.2em;
    color:#fff;
    border:none;
}
.grey{
    color: #000;
    background: #D0CECF;
    font-size:1.2em;
    border:none;
}
.black{
    color: #fff;
    background: #000;
    border:none;
    padding: 0px 20px;
    font-size:1.1em;
}

.white{
    color:#fff !important;
}
.blue{
    color:#629787 !important;
}
.navbar.navbar-inverse, .navbar.navbar-inverse.navbar-glass:hover {
    /*background: none repeat scroll 0 0 #E1DDD4;*/
    background: none repeat scroll 0 0 #fff;
    font-size: 1.1em;
    font-weight: normal;
    padding: 0 10px;
}
.navbar.navbar-inverse .active{
    background: none repeat scroll 0 0 #E1DDD4;
    background: none repeat scroll 0 0 #5FB304;
    color: #ffffff !important;
}
iframe{
    overflow: hidden;
}
i{
    padding-right: 10px;
}
.table-striped{
    background: #fff;
}
#page-content{
    background: #f9f9f9 !important;
}
#page-content-sidebar{
    background:#EAE6DD !important;
}
.intl-tel-input{
    width: 100% !important;
}
.profile_avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../../custom/img/avatar-blank.jpg");
    border: 1px solid rgb(30, 30, 29);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgb(24, 24, 24);
    display: block;
    height: 300px;
    margin: 35px auto 20px;
    position: relative;
    width: 300px;
    float: left;
}
.profile_avatar .btn {
    bottom: -5px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
    padding: 3px 6px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    min-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    border-color: rgb(26, 26, 26);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;
}
.profile_avatar > .btn a{
    text-align: center;
    border: 1px solid transparent;
}
.ad_location_date_table{
    font-size:15px;
    border:1px #ccc solid !important;
}
.ad_location_date_table th{
    border:1px #ccc solid !important;
    border-collapse:separate !important;
}
.ad_location_date_table td{
    border:1px #ccc solid !important;
    border-collapse:separate !important;
}
.btn-danger{
    background:#0263E8;
    color:#fff;
    padding: 1px 10px;
    font-size: 25px;
    width:100%;
    border-radius: 5px;
    border-color: #0263E8;
}
.btn-green{
    background:#B5CE33;
}
.btn-primary, .btn-info{
    background: #444444;
    color: #fff;
    border:  #444444;
}
.dashboard-background{
    width:85%;
    margin: auto;
}
.dashboard-background img{
    
}
.footer{
    background: #000 !important;
    text-align:center;
}
.social_icons{
    font-size: 1.5em;
    color: #fff; 
}
/*.pie-chart canvas{
    width: 10px !important;
    height: 10px !important;
}*/

.dashboard{
    font-size: 1.2em;
    table-layout: fixed;
}
.dashboard th, .dashboard td{
    padding: 5px;
}
.dashboard td{
    padding-left: 20px;
}
.border{
    border-bottom: 2px #DCDCDC solid;
}
.page_views{
    background: #4A4C58;
    height: 70px;
    /*text-align: center; */
    padding:10px;
}
.easyPieChart {
    font-size: 12px;
    font-weight: 300;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.batch{
    font-size: 1.1em;
    table-layout: fixed;
}
.batch th, .batch td{
    padding: 5px;
    border: 2px #fff solid;
}
.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 30px;
    height: 30px;
    padding: 1px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 20px;
}
.table-condensed tr{
    cursor: pointer !important;
}
.table-condensed tr, .table-condensed td{
    border: 2px solid #fff !important;
}
.accordion-toggle{
    background: #4CD4B5;
    font-size: 20px;
    color: #fff;
}
.accordian-body thead{
    font-size: 14px;
    background: #454956;
    color: #fff;
}
.index img{
    width: 30px !important;
    height: 30px !important;
}

/**header links*/
.user_nav{
    /*top:16px;*/
    width: 12%;
    left: auto;
    right: 10.5px;
    position: absolute;
    z-index: 102;
}
.media{
    overflow: visible;
    margin-top: 0;
}
.js_user{
    float: left; 
    cursor: pointer;
}
.media-photo{
    position: relative;
    width: auto;
    display: table-cell;
    margin: 0;
    vertical-align: middle;    
}
.media-photo img{
    height: 36px;
    width: 36px;
    margin: 5px 0;
    border: 1px solid #DBDBDA;
    vertical-align: middle;
    border-radius: 50%;
}
.media-body{
    vertical-align: middle;
    white-space: normal;
    width: auto;
    display: table-cell;
    overflow: hidden;
}
.user-greeting {
    display: block;
    -moz-hyphens: auto;
    color: #373C44;
    font-size: 14px;
    font-weight: 500;
    margin: 3px 0;
    max-height: 40px;
    max-width: 140px;
    overflow: hidden;
    padding-left: 10px;
    word-wrap: break-word;
    text-align: left;
    
}
.popover{
    top: 42px !important;
    z-index: 2000;
    margin-top:10px;
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    white-space: normal;
    background-clip: padding-box;
    transition: opacity 0.15s linear 0s;
}
/*.arrow:after{
    border-bottom-color: #FFFFFF;
    border-top-width: 0;
    content: " ";
    margin-left: -10px;
    top: 1px;
    border-width: 10px;
    content: "";
    display: block;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    left: 20px !important;
    border-width: 7px;
    margin-left: -6px;
    top: -15px;
    border-bottom-color: #A5A5A5;
    left: 50%;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
}*/
.popover_content{
    padding: 10px;
}
.popover_content ul{
    margin-top: 0;
}
.popover_content ul li:last-child {
    margin-bottom: -10px;
}
.popover_content ul li:first-child {
    border: 0 none;
}
.popover_content ul li{
    border: 1px solid #DDDDDD;
    /*border-bottom: 1px #ccc solid;*/
    border-radius: 0;
    border-width: 1px 0;
    padding: 7px 0;
    text-transform: none;
    white-space: nowrap;
    font-size: 14px;
    background-color: #FFFFFF;
    display: block;
    margin-bottom: -1px;
    position: relative;    
}
.popover_content ul li a{
    color: #373C44;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    transition: all 0.1s ease 0s;
    background-color: rgba(0, 0, 0, 0);
    margin:3px;    
    
}
.popover_content ul li a:hover{
    color:rgb(255,0,0);
}
.list_group {
    padding-left: 0;
}
/**end header links**/
address{
    font-size: 12px;
}
.well{
    padding: 5px;
}
thead th{
    font-size: 16px !important;
    padding: 2px !important;
    border:none !important;
    font-weight: normal !important;
}
