html, body{
    width:100%;
    height:100%;
    margin:auto;
    padding:auto;
    font-family: Verdana,sans-serif;
}
.top_bar{
    min-height:100px;
    padding:0;
    margin:0;
    width:100%;
    background: #0D83DD;
    height: 82px;
    min-width: 980px;
}
.bottom_bar{
    padding:0;
    margin:0;
    float:none;
    min-width:980px;
}
.login_tb{
    margin-top:5px;
    float:right;
    margin-right:50px;
    font-size: 12px;  
    padding:10px;
}
.login_tb:after{
    clear:both;
}
.login_tb td{
    padding: 0px 0px 0px 14px;
}
.login_tb label,.login_tb a{
    color: rgb(255, 255, 255);
    font-weight: normal;
    padding-left: 1px;
    line-height:1.5em;
}
.login_tb input[type="text"], .login_tb input[type="password"]{
    margin: 0px;
    width: 142px;
    padding-bottom: 4px;
    border: 1px solid rgb(189, 199, 216);
    padding: 3px;
}
.left_col{ 
    width: 33.33333%;
    bottom:0;
    background: #ffffff;
    float: left;
    
}
.right_col{
    width: 66.66667%;
    background: #FAFAFA;
    float: right;
    padding:10px 20px;
}
.clearfix{
    clear:both;
}
.register_form_tb{
    padding: 5px;
}
.register_form_tb td{
    padding: 5px;
}
.register_form{
    width:500px;
    float:left;
}
.register_form input[type="text"], .register_form input[type="password"]{
    width:100%;
    font-size: 18px;
    padding: 8px 10px;
    direction: ltr;
}
.register_form label{
    display:inline-block;
    position:relative;
    width:100%;
    font-weight:normal;

}
.intl-tel-input {
    width: 100%;
}
.register_form .correct_pass, .register_form .wrong_pass{
    -webkit-user-select:none;
    color:#999999;
    direction:ltr;
    position:absolute;
    right:10px;
    top:5px;
    display:none;
}

.social_logins_form{
    margin-top:150px;
    padding:10px;
    width:250px;
    float:right;
}
h2{
    text-align: left;
    font-weight:bold;
    font-size: 36px;
    color: rgb(51, 51, 51);
}
.checklist i{
    line-height:1.5em;
}
.button.large {
    margin: 5px 0px 10px;
    min-width: 140px;
}
.button.green {
    box-shadow: 0px 1px 0px rgb(157, 208, 75) inset;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    background-color: rgb(133, 197, 31);
    border: 1px solid rgb(101, 156, 23);
}
.button.green:hover{
    background-color: #8ED221;
}
.button.grey {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
    background-color: #FAFAFA;
    border: 1px solid rgb(1, 1, 1);    
    color: rgb(0, 0, 0) !important;
}
.button.grey:hover{
    background-color: #eeeeee;
}
.button.large {
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    padding: 0px 19px;
}
.button {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    border-radius: 3px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255) !important;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 14px/28px Arial,Helvetica,sans-serif;
    outline: 0px none;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
    padding: 0px 5px 0px 5px;
    margin-right:10px;
}
.progress{
    display: none;
}
.notification{
    color:rgb(255,0,0);
}
a{
    outline: 0;
}
button{
    outline: 0;
}
input::-moz-focus-inner { 
  border: 0; 
}
button::-moz-focus-inner { 
  border: 0; 
}
hr{
    border:none;
    height:1px;
    /*background: #000;*/
    background-color: #8ED221;
}
.inputError{
    border:2px solid rgb(255,0,0);
}
.ad_location_date_table{
    width:100%;
}
.ad_location_date_table input[type="text"]{
    width:70px !important;    
}
.ad_location_date_table button{
    /*padding:0px !important;*/
}
select{
    border-radius: 0px;
    border:none;
    padding: 2px 5px;
}
.ad_location_date{
    display: none;
}
.ad_payment{
    display: none;
}
/*input[type="text"]{
    border:2px #ccc solid;
    border-radius:0px;
    padding:2px 5px;
    /*width:200px;
}*/
textarea{
    width:400px;
    height:100px;
    border: 2px #ccc solid;
    border-radius: 0px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px 5px;
}
a:active{
    border-color: #5CCDDE;
}
/*.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: '';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
