.hide {
    display: none;
}
.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
html {
    height: 100%;
    overflow-y: scroll;
}
body {
    background-color: #FFFFFF;
    color: #000000;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 18px;
    margin: 0;
    min-width: 840px;
    padding: 0;
}
body.popup {
    min-width: 0;
}
div.main_bg {
    background-color: #FFFFFF;
    height: auto;
    margin-bottom: -180px;
    min-height: 100%;
}
.push {
    clear: both;
    height: 180px;
}
a {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 0 none;
}
pre {
    margin: 0;
}
body.wide_layout {
    min-width: 960px;
}
.trial .push {
    height: 215px;
}
.trial .main_bg {
    margin-bottom: -215px;
}
h1, h2 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: normal;
    margin: 0 0 7px;
    padding: 0;
}
h2.pt {
    float: left;
    margin-bottom: 0;
    padding: 9px 20px 18px 0;
}
h3 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 7px;
    padding: 0;
}
h4 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}
h5 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}
/*a:link, a:visited, a:active {
    color: #0000FF;
    text-decoration: underline;
}
a:hover {
    background-color: #0000FF;
    color: #FFFFFF;
    text-decoration: none;
}
a img {
    border: 0 none;
}
a.small-link {
    font-size: 11px;
}
a.no-hover:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
a.link-new {
    background: url("/cache/images/icons/new.v1440527602.png") no-repeat scroll 2px 3px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    margin-bottom: -2px;
    padding-left: 20px;
    padding-right: 2px;
}
a.link-new:hover {
    background-color: #0000FF;
    text-decoration:none;
}
a.link-new.space-left {
    margin-left: 5px;
}
a.link-new.link-icon-inline {
    display: inline-block;
    float: none;
}
.bg_systemcolor1 a.link-new:hover {
    background-color: rgba(0, 0, 0, 0);
}
a.link-delete {
    background: url("/cache/images/icons/delete.v1440527602.png") no-repeat scroll 2px 3px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    margin-bottom: -2px;
    padding-left: 20px;
    padding-right: 2px;
}
a.link-delete:hover {
    background: url("/cache/images/icons/delete.v1440527602.png") no-repeat scroll 2px 3px #0000FF;
}
a.link-delete.link-icon-inline {
    display: inline-block;
    float: none;
}
a.link-help {
    background: url("/cache/images/icons/help.v1440527602.png") no-repeat scroll 2px 1px rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    padding-left: 20px;
}
a.link-help:hover {
    background: url("/cache/images/icons/help.v1440527602.png") no-repeat scroll 2px 1px #0000FF;
}
a.link-arrowscircle {
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    line-height: 18px;
    padding-left: 2px;
    padding-right: 2px;
}
a.link-arrowscircle:hover {
    background-color: #0000FF;
}
a.link-action-grey {
    color: #777777;
    font: bold 12px/20px Arial,Helvetica,sans-serif;
    text-decoration: none;
}
a.link-action-grey:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: underline;
}
a.linkEdit:link, a.linkEdit:visited, a.linkEdit:active {
    font-size: 11px;
    text-decoration: underline;
}
a.linkEdit:hover {
    text-decoration: none;
}
a.normal:link, a.normal:visited, a.normal:active {
    background-color: rgba(0, 0, 0, 0);
    color: #0000FF;
    text-decoration: underline;
}
a.normal:hover {
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
}
a.none:link, a.none:visited, a.none:active {
    color: inherit;
    text-decoration: none;
}
a.none:hover {
    color: #FFFFFF;
}
a.link_white_system:link, a.link_white_system:active, a.link_white_system:visited {
    color: #FFFFFF;
    text-decoration: underline;
}
a.b:link, a.b:visited, a.b:active {
    color: #0000FF;
    text-decoration: underline;
}
a.b:hover {
    background-color: #0000FF;
    color: #FFFFFF;
    text-decoration: none;
}
a.blue:link, a.blue:visited, a.blue:active {
    color: #0000FF;
    text-decoration: underline;
}
a.blue:hover {
    background-color: #0000FF;
    color: #FFFFFF;
    text-decoration: none;
}*/
a:hover{
    text-decoration: none;
}
.container {
    margin: 0 auto;
    padding: 0 40px;
    text-align: left;
    width: 760px;
}
.relative-box {
    position: relative;
}
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-25, div.span-26, div.span-27, div.span-28, div.span-29, div.span-30, div.span-31, div.span-32, div.span-33, div.span-34, div.span-35, div.span-36, div.span-37 {
    float: left;
    min-height: 1px;
}
.span-1 {
    width: 20px;
}
.span-2 {
    width: 40px;
}
.span-3 {
    width: 60px;
}
.span-4 {
    width: 80px;
}
.span-5 {
    width: 100px;
}
.span-6 {
    width: 120px;
}
.span-7 {
    width: 140px;
}
.span-8 {
    width: 160px;
}
.span-9 {
    width: 180px;
}
.span-10 {
    width: 200px;
}
.span-11 {
    width: 220px;
}
.span-12 {
    width: 240px;
}
.span-13 {
    width: 260px;
}
.span-14 {
    width: 280px;
}
.span-15 {
    width: 300px;
}
.span-16 {
    width: 320px;
}
.span-17 {
    width: 340px;
}
.span-18 {
    width: 360px;
}
.span-19 {
    width: 380px;
}
.span-20 {
    width: 400px;
}
.span-21 {
    width: 420px;
}
.span-22 {
    width: 440px;
}
.span-23 {
    width: 460px;
}
.span-24 {
    width: 480px;
}
.span-25 {
    width: 500px;
}
.span-26 {
    width: 520px;
}
.span-27 {
    width: 540px;
}
.span-28 {
    width: 560px;
}
.span-29 {
    width: 580px;
}
.span-30 {
    width: 600px;
}
.span-31 {
    width: 620px;
}
.span-32 {
    width: 640px;
}
.span-33 {
    width: 660px;
}
.span-34 {
    width: 680px;
}
.span-35 {
    width: 700px;
}
.span-36 {
    width: 720px;
}
.span-37 {
    width: 740px;
}
.span-38 {
    width: 760px;
}
.span-39 {
    width: 780px;
}
.span-40 {
    width: 800px;
}
.prepend-half {
    padding-left: 10px;
}
.prepend-1 {
    padding-left: 20px;
}
.prepend-2 {
    padding-left: 40px;
}
.prepend-3 {
    padding-left: 60px;
}
.prepend-4 {
    padding-left: 80px;
}
.prepend-5 {
    padding-left: 100px;
}
.prepend-6 {
    padding-left: 120px;
}
.prepend-7 {
    padding-left: 140px;
}
.prepend-8 {
    padding-left: 160px;
}
.prepend-9 {
    padding-left: 180px;
}
.prepend-10 {
    padding-left: 200px;
}
.prepend-11 {
    padding-left: 220px;
}
.prepend-12 {
    padding-left: 240px;
}
.prepend-13 {
    padding-left: 260px;
}
.prepend-14 {
    padding-left: 280px;
}
.prepend-15 {
    padding-left: 300px;
}
.prepend-16 {
    padding-left: 320px;
}
.prepend-17 {
    padding-left: 340px;
}
.prepend-18 {
    padding-left: 360px;
}
.prepend-19 {
    padding-left: 380px;
}
.prepend-20 {
    padding-left: 400px;
}
.prepend-top-half {
    padding-top: 9px;
}
.prepend-top-1 {
    padding-top: 18px;
}
.prepend-top-2 {
    padding-top: 36px;
}
.prepend-top-3 {
    padding-top: 54px;
}
.prepend-top-4 {
    padding-top: 72px;
}
.prepend-top-5 {
    padding-top: 90px;
}
.prepend-top-6 {
    padding-top: 99px;
}
.prepend-top-7 {
    padding-top: 108px;
}
.prepend-top-8 {
    padding-top: 117px;
}
.prepend-top-9 {
    padding-top: 126px;
}
.append-half {
    padding-right: 10px;
}
.append-1 {
    padding-right: 20px;
}
.append-2 {
    padding-right: 40px;
}
.append-3 {
    padding-right: 60px;
}
.append-4 {
    padding-right: 80px;
}
.append-5 {
    padding-right: 100px;
}
.append-6 {
    padding-right: 120px;
}
.append-7 {
    padding-right: 140px;
}
.append-8 {
    padding-right: 160px;
}
.append-9 {
    padding-right: 180px;
}
.append-10 {
    padding-right: 200px;
}
.append-11 {
    padding-right: 220px;
}
.append-12 {
    padding-right: 240px;
}
.append-13 {
    padding-right: 260px;
}
.append-14 {
    padding-right: 280px;
}
.append-15 {
    padding-right: 300px;
}
.append-16 {
    padding-right: 320px;
}
.append-17 {
    padding-right: 340px;
}
.append-18 {
    padding-right: 360px;
}
.append-19 {
    padding-right: 380px;
}
.append-20 {
    padding-right: 400px;
}
.append-bottom-half {
    padding-bottom: 9px;
}
.append-bottom-1 {
    padding-bottom: 18px;
}
.append-bottom-2 {
    padding-bottom: 36px;
}
.append-bottom-3 {
    padding-bottom: 54px;
}
.append-bottom-4 {
    padding-bottom: 72px;
}
.append-bottom-5 {
    padding-bottom: 90px;
}
.append-bottom-6 {
    padding-bottom: 99px;
}
.append-bottom-7 {
    padding-bottom: 108px;
}
.append-bottom-8 {
    padding-bottom: 117px;
}
.append-bottom-9 {
    padding-bottom: 126px;
}
.append-bottom-10 {
    padding-bottom: 135px;
}
.append-bottom-11 {
    padding-bottom: 144px;
}
.append-bottom-12 {
    padding-bottom: 153px;
}
/*form input[type="text"], form input[type="password"] {
    border-radius: 5px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 15px;
    padding: 8px 5px;
    margin: 0px 0px 12px;
    width: 408px;
}*/
#username, #password, #email {
    border-radius: 5px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 15px;
    padding: 8px 5px;
    margin: 0px 0px 12px;
    width: 408px;
    width: 408px;
}
#navmain.fresh-header .nav-toplinks {
    float: right;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
#navmain.fresh-header .nav-toplinks li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#navmain.fresh-header .nav-toplinks li a {
    background: none repeat scroll 0 0 #E5E5E5;
    color: #888888;
    display: block;
    float: left;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
}
#navmain.fresh-header .nav-toplinks li:first-child a {
    border-bottom-left-radius: 5px;
}
#navmain.fresh-header .nav-toplinks li:last-child a {
    border-bottom-right-radius: 5px;
}
#navmain.fresh-header .nav-toplinks li a:hover, #navmain.fresh-header .nav-toplinks a.toplink_on {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
#navmain.fresh-header .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    height: 35px;
    margin: 0;
    position: relative;
}
#navmain.fresh-header .nav-mainlinks-container {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    clear: both;
    height: 35px;
}
#navmain.fresh-header .nav-mainlinks {
    border-radius: 4px;
    color: #FFFFFF;
    width: 100%;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font {
    border: 1px solid #CCCCCC;
}
#navmain.fresh-header .nav-mainlinks li {
    background: url("/images/nav-sprites.png") no-repeat scroll right -375px rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    position: relative;
}
#navmain.fresh-header .nav-mainlinks .nav-morelinks li {
    background-image: none;
}
#navmain.fresh-header .nav-mainlinks li a {
    background-color: rgba(0, 0, 0, 0);
    float: left;
    line-height: 35px;
    padding: 0 10px;
    text-decoration: none;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font li a, #navmain.fresh-header .nav-mainlinks-container.dark-font li.active a {
    color: #000000;
}
#navmain.fresh-header .nav-mainlinks li.first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#navmain.fresh-header .nav-mainlinks li.first a {
    padding-left: 20px;
}
#navmain.fresh-header .nav-mainlinks li.active:first-child {
    margin-left: 9px;
}
#navmain.fresh-header .nav-mainlinks li.active:first-child a {
    padding-left: 11px;
}
#navmain.fresh-header .nav-mainlinks .nav-morelinks li {
    margin: 0;
}
#navmain.fresh-header .nav-mainlinks li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px;
    height: 39px;
    line-height: 44px;
    margin-left: -2px;
    margin-top: -5px;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font .nav-mainlinks li.active a {
    color: #000000;
}
#navmain.fresh-header .nav-mainlinks li:hover {
    background-position: right -425px;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font li.active a {
    text-decoration: underline;
}
#navmain.fresh-header .nav-mainlinks li.more span > a {
    background: url("/images/nav-sprites.png") no-repeat scroll 50px -381px rgba(0, 0, 0, 0);
    cursor: default;
    padding-right: 24px;
}
#navmain.fresh-header .nav-mainlinks li.more:hover span > a {
    background-position: 50px -431px;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font li.more a {
    background-position: -70px -381px;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font li.more:hover a {
    background-position: -70px -431px;
}
#navmain.fresh-header .nav-mainlinks li.more:hover .nav-morelinks {
    display: block;
}
#navmain.fresh-header .nav-morelinks, #navmain.fresh-header .nav-morelinks li, #navmain.fresh-header .nav-morelinks li span, #navmain.fresh-header .nav-morelinks li a {
    float: none;
    height: auto;
}
#navmain.fresh-header .nav-morelinks {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    display: none;
    font-size: 14px;
    font-weight: normal;
    left: -2px;
    position: absolute;
    top: 35px;
    z-index: 99;
}
#navmain.fresh-header .nav-mainlinks-container.dark-font .nav-morelinks {
    border: 1px solid #DDDDDD;
}
#navmain.fresh-header .nav-morelinks .nav-morelinks-container {
    border-radius: 5px;
    z-index: 100;
}
#navmain.fresh-header .nav-morelinks li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-top: 1px solid rgba(0, 0, 0, 0);
    display: block;
    float: none;
    line-height: 18px;
    margin: 0;
    padding: 7px 12px;
    width: 150px;
}
#navmain.fresh-header .nav-morelinks li:first-child a {
    border-top: 0 none;
}
#navmain.fresh-header .nav-morelinks li:last-child a {
    border-bottom: 0 none;
}
#navmain.fresh-header .nav-morelinks li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#navmain.fresh-header .nav-morelinks li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#navmain.fresh-header .nav-morelinks li:first-child a {
    border-top: 0 none;
}
#navmain.fresh-header .nav-morelinks li:last-child a {
    border-bottom: 0 none;
}
.fresh-header, #subnav.fresh-header {
    background-color: #FFFFFF !important;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
}
#subnav.fresh-header ul {
    border-bottom: 1px solid #CCCCCC;
    height: 37px;
    padding-left: 5px;
}
#subnav.fresh-header ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
}
#subnav.fresh-header ul li span {
    display: block;
    float: left;
    height: 46px;
    margin-left: 5px;
}
#subnav.fresh-header ul li a {
    border-radius: 5px;
    float: left;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}
#subnav.fresh-header ul li a span {
    height: 31px;
    margin: 0;
    padding: 0 10px;
}
#subnav.fresh-header ul li span.active {
    background: url("/cache/images/nav-sprites.v1440527602.png") repeat scroll center -271px rgba(0, 0, 0, 0);
}
#subnav.fresh-header .dark-font .active a span, #subnav.fresh-header .dark-font a:hover span {
    text-decoration: underline;
}
#subnav.fresh-header .dark-font a, #subnav.fresh-header .dark-font a:hover, #subnav.fresh-header .dark-font .active a {
    color: #000000;
}
html, body{
    font-family: Verdana,sans-serif;
    color: rgb(0, 0, 0);
    min-height: 545px;
    margin: auto;
    padding: auto;
}
.custom-background, .custom-background-hover:hover {
    background-color: rgb(13, 131, 221) !important;
}
#outer{
    display: table;
    position: relative;
}
#outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100%;
}
#middle[id] {
    display: table-cell;
    vertical-align: middle;
    margin: 0px auto;
    width: 100%;
    text-align: center;
    padding-bottom: 40px;
    z-index: 10;
}
#middle {
    position: absolute;
    top: 20%;
}
#inner {
    width: 742px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.font-on-custom-background, .font-on-custom-background-hover:hover {
    color: rgb(255, 255, 255) !important;
}
#inner {
    text-align: left;
}
.form-pad-top {
    height: 10px;
}
.clearb {
    clear: both;
}
.boxMain {
    background: url("../img/arrow-bg-login-box.v1440527602.gif") no-repeat scroll 0px center rgb(233, 233, 233);
    border: 1px solid rgb(217, 217, 217);
    border-radius: 8px;
    width: 740px;
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 100%;
    font-size: 0.75em;
    line-height: 20px;
    padding: 0px 25px;
}
.boxTop, .boxMain, .boxBot {
    margin: 0px auto;
}
.login-table {
    min-height: 300px;
    padding-top: 5px;
}
.login-right-container {
    padding: 40px 20px;
}
.notification-page {
    margin-top: 0px;
    color: rgb(0, 0, 0);
}
.hide {
    display: none;
}
.notification-page {
    margin: 20px 5px 10px 0px;
    width: auto;
}
.notification-page {
    border-radius: 5px;
    min-height: 47px;
    padding: 12px 15px 18px 80px;
}
.login-forms,.login-forms form {
    height: 220px;
}
form label {
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    margin-bottom: 3px;
    float: none;
    text-align: left;
    font-size: 15px;
    width: auto;
    padding: 6px 2px 0px 0px;
}
#username, #password, #email {
    width: 408px;
}
/*form input[type="text"], form input[type="password"] {
    border-radius: 5px;
    border: 1px solid rgb(217, 217, 217);
    font-size: 15px;
    padding: 8px 5px;
    margin: 0px 0px 12px;
}*/
/*.button.large {
    margin: 5px 0px 10px;
    min-width: 140px;
}
.button.green {
    box-shadow: 0px 1px 0px rgb(157, 208, 75) inset;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    background-color: rgb(133, 197, 31);
    border: 1px solid rgb(101, 156, 23);
    color: rgb(255, 255, 255) !important;
}
.button.grey {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);
    background-color: #FAFAFA;
    border: 1px solid rgb(1, 1, 1);    
    color: rgb(0, 0, 0) !important;
}

.button.large {
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
    padding: 0px 19px;
}
.button {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    border-radius: 3px;
    padding: 3px;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    float: left;
    font: bold 14px/28px Arial,Helvetica,sans-serif;
    outline: 0px none;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;   
    margin-right:10px;
}
button {
    overflow: visible;
}*/
button{
    padding:0px !important;
}
.forgot-link {
    margin: 17px 0px 0px 20px;
    float: left;
}
.clearb {
    clear: both;
}
.login-box-shadow {
    background: url("../img/shadow-login-box.v1440527602.png") no-repeat scroll center top transparent;
    width: 722px;
    height: 11px;
    margin: 0px auto 10px;
}
.notification{
    color:rgb(255,0,0);
    font-size:1.0em;
}
.main_bg {
    margin-bottom: -215px;
    background-color: #FFFFFF;
    height: auto;
    min-height: 100%;
}
#navmain.fresh-header {
    background-color: #FFFFFF;
}
#navmain {
    font-family: Arial,Helvetica,sans-serif;
}
/*.index thead td, .index.disabled thead td, #navmain, .bg_systemcolor1 {
    background-color: #0D83DD;
}*/
.fresh-header, #subnav.fresh-header {
    background-color: #FFFFFF !important;
    margin-bottom: 6px;
}
.relative-box {
    position: relative;
}
.container {
    margin: 0 auto;
    padding: 0 40px;
    text-align: left;
    width: 760px;
}
#navmain.fresh-header {
    font-size: 14px;
    font-weight: bold;
}
#navmain {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
#navmain.fresh-header .nav-toplinks {
    float: right;
    font-size: 11px;
    margin: 0;
    padding: 0;
}
#navmain.fresh-header .nav-toplinks li {
    display: block;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#navmain ul li {
    position: relative;
}
#navmain.fresh-header .nav-toplinks li a {
    background: none repeat scroll 0 0 #E5E5E5;
    color: #888888;
    display: block;
    float: left;
    font-weight: normal;
    height: 25px;
    line-height: 25px;
    padding: 0 7px;
}
#navmain ul li a {
    margin-bottom: 1px;
    text-decoration: none;
}
a:link, a:visited, a:active {
    color: #0000FF;
    text-decoration: underline;
}
a {
    outline: 0 none;
}
#navmain.fresh-header .logo-container {
    float: left;
    vertical-align: middle;
}
#sysLogo {
    margin: 10px 0 14px;
    vertical-align: middle;
}
a img {
    border: 0 none;
}
#navmain.fresh-header .nav-mainlinks-container {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    clear: both;
    height: 35px;
}
#navmain.fresh-header .nav-mainlinks li {
    list-style: none outside none;
}
#navmain.fresh-header .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    margin: 0;
    position: relative;
}
#navmain.fresh-header .nav-mainlinks li a {
    float: left;
    padding: 0 10px;
    text-decoration: none;
}
.font-on-custom-background, .font-on-custom-background-hover:hover {
    color: #FFFFFF !important;
}
#navmain.fresh-header .nav-mainlinks {
    border-radius: 4px;
    color: #FFFFFF;
    width: 100%;
}
#navmain.fresh-header .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    height: 35px;
    margin: 0;
    position: relative;
}
#navmain ul {
    padding: 0;
}
.custom-background, .custom-background-hover:hover {
    background-color: #0D83DD !important;
}
#navmain.fresh-header .nav-mainlinks li.active:first-child {
    margin-left: 9px;
}
#navmain.fresh-header .nav-toplinks li:first-child a {
    border-bottom-left-radius: 5px;
}
#navmain.fresh-header .nav-toplinks li:last-child a {
    border-bottom-right-radius: 5px;
}
#navmain.fresh-header .nav-mainlinks li.first {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
#navmain.fresh-header .nav-mainlinks li {
    background: url("../img/nav-sprites.png") no-repeat scroll right -375px rgba(0, 0, 0, 0);
    float: left;
    list-style: none outside none;
    position: relative;
}
#navmain.fresh-header .nav-toplinks li a:hover {
    background: #cccccc;
    color:#000;
}
#navmain.fresh-header .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    height: 35px;
}

#navmain.fresh-header:root:hover .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    height: 35px;
    margin: 0;
    position: relative;
}
#navmain ul li {
    float: left;
    list-style: none outside none;
}
#navmain.fresh-header .nav-mainlinks li.active:first-child a {
    padding-left: 11px;
}
#navmain.fresh-header .nav-mainlinks li.active a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    border-image: none;
    border-style: solid;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-width: 1px;
    height: 39px;
    line-height: 44px;
    margin-left: -2px;
    margin-top: -5px;
}
#navmain.fresh-header .nav-mainlinks li a {
    float: left;
    text-decoration: none;
}
#navmain.fresh-header .nav-mainlinks, #navmain.fresh-header .nav-mainlinks-container, #navmain.fresh-header .nav-mainlinks li, #navmain.fresh-header .nav-mainlinks li a {
    display: block;
    position: relative;
}
#navmain ul a, .primary-text {
    color: #FFFFFF;
}
.custom-font-on-white, .custom-font-on-white-hover:hover {
    color: #0D83DD !important;
}
.clear, .clearb {
    clear: both;
}
.fresh-header, #subnav.fresh-header {
    background-color: #FFFFFF !important;
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 6px;
}
#subnav {
    border-top: 1px solid #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    margin-top: -1px;
}
#subnav, #navmain strong a, #navmain a:hover, .bg_systemcolor3 {
    background-color: #BFDCF3;
}
.fresh-header, #subnav.fresh-header {
    background-color: #FFFFFF !important;
}
.container {
    margin: 0 auto;
    padding: 0 40px;
    text-align: left;
    width: 760px;
}
#subnav.fresh-header ul {
    border-bottom: 1px solid #CCCCCC;
    height: 37px;
    padding-left: 5px;
}
#subnav ul {
    margin: 0;
}
#subnav.fresh-header ul li {
    float: left;
    list-style: none outside none;
    margin: 0;
}
#subnav.fresh-header ul li span.active {
    background: url("../img/nav-sprites.v1440527602.png") repeat scroll center -271px rgba(0, 0, 0, 0);
}
#subnav.fresh-header ul li span {
    display: block;
    float: left;
    height: 46px;
    margin-left: 5px;
}
#subnav.fresh-header ul li {
    list-style: none outside none;
}
#subnav.fresh-header ul li a {
    border-radius: 5px;
    float: left;
    font-weight: normal;
    height: 31px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}
#subnav ul li a:hover, #subnav ul li strong a {
    background-color: #FFFFFF;
    color: #000000;
}
#subnav ul li a {
    display: block;
    text-decoration: none;
}
.custom-font-on-white, .custom-font-on-white-hover:hover {
    color: #0D83DD !important;
}
.custom-background-fixed-lightness-95, .custom-background-fixed-lightness-95-hover:hover {
    background-color: #E7F4FE !important;
}
a {
    outline: 0 none;
}
#subnav.fresh-header ul li a span {
    height: 31px;
    margin: 0;
    padding: 0 10px;
}
#subnav.fresh-header ul li span {
    display: block;
    float: left;
}
.peel-shadows:before {
    background: url("../img/application.v1440527602.png") no-repeat scroll -63px -483px rgba(0, 0, 0, 0);
    bottom: -8px;
    content: "";
    display: block;
    height: 7px;
    left: 6px;
    position: absolute;
    width: 110px;
}
.peel-shadows:after {
    background: url("../img/application.v1440527602.png") no-repeat scroll -173px -483px rgba(0, 0, 0, 0);
    bottom: -8px;
    content: "";
    display: block;
    height: 7px;
    position: absolute;
    right: 6px;
    width: 110px;
}
.relative-box {
    position: relative;
}
.rounded-container {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.home-sidebar .content {
    padding: 15px;
    position: relative;
}
h4 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}

li.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-25, div.span-26, div.span-27, div.span-28, div.span-29, div.span-30, div.span-31, div.span-32, div.span-33, div.span-34, div.span-35, div.span-36, div.span-37 {
    float: left;
    min-height: 1px;
}
.append-1 {
    padding-right: 20px;
}
.span-13 {
    width: 260px;
}
 width: 260px;
}
.span-24 {
    width: 480px;
}

.dynamic-panels .dashboard-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-bottom: -1px;
}
.dashboard-panel-drop-target, .dynamic-panels .dashboard-panel {
    padding: 0;
    position: relative;
}
.dashboard-panel:last-child {
    border-radius: 0 0 5px 5px;
}
.dashboard-panel {
    border: 1px solid #CCCCCC;
}
.push {
    height: 215px;
}
.push {
    clear: both;
}
.button-panel {
    float: right;
    position: relative;
}
h2.pt {
    float: left;
    margin-bottom: 0;
    padding: 9px 20px 18px 0;
}
h1, h2 {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 24px;
    line-height: normal;
}
.button.dropdown.large {
    margin-bottom: 17px;
    padding-right: 58px;
}
.button.large.create {
    background-image: url("../img/icons.v1440527602.png");
    background-position: 0 -52px;
    padding-left: 41px;
}
.button-panel .button {
    margin-left: 7px;
}
.button.dropdown {
    position: relative;
}
.button.green {
    background-color: #85C51F;
    border: 1px solid #659C17;
    box-shadow: 0 1px 0 #9DD04B inset;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}
.button.large {
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    line-height: 43px;
}
.button {
    -moz-box-sizing: border-box;
    -moz-user-select: none;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #FFFFFF !important;
    cursor: pointer;
    display: block;
    float: left;
    min-width: 75px;
    outline: 0 none;
    text-align: center;
    text-decoration: none !important;
    white-space: nowrap;
}
.green {
    color: #628E0E;
}
.button.dropdown.large .dropdown-icon {
    background-position: right -239px;
    height: 43px;
    width: 39px;
}
.button.dropdown .dropdown-icon {
    background: url("../img/icons.v1440527602.png") no-repeat scroll right -209px rgba(0, 0, 0, 0);
    display: inline-block;
    position: absolute;
    right: 0;
}
.button.dropdown.large ul {
    top: 44px;
}
.button.dropdown ul {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.45);
    display: none;
    font: bold 14px Arial,Helvetica,sans-serif;
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: none;
    width: 97.5%;
    z-index: 9999;
}
.button.dropdown ul {
    font: bold 14px Arial,Helvetica,sans-serif;
    list-style: none outside none;
    text-shadow: none;
}
.button.dropdown li:first-child a, .button.dropdown li:first-child button {
    border-radius: 2px 2px 0 0;
}
.button.dropdown li a, .button.dropdown li button {
    color: #3B3B3B;
    display: block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0 0 0 13px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
}
.button.dropdown a {
    background: none repeat scroll 0 center rgba(0, 0, 0, 0);
}
a {
    outline: 0 none;
}

.index tbody td .subtext, .subtext {
    color: #888888;
    display: block;
    font-size: 11px;
}

.index {
    border-collapse: collapse;
    width: 100%;
}
.index.spaced tbody td {
    padding-left: 2px;
    padding-right: 2px;
    border-top:1px #000 solid;
}
.index thead th, .index thead td {
    color: #fff;
    padding: 0 0 0 3px;    
    text-align:left;
    background-color: #0D83DD;
    font-size:0.9em;
    font-weight:normal;
    padding:10px;
}

.index tbody td{
    padding: 0 0 0 3px;    
    text-align:left;
    font-size:0.9em;
    font-weight:normal;
    padding:10px;
}
.index input[type="text"]{
    /*width:130px;*/
}
.add_form{
    display: none;
    margin:5px 10px 30px 10px;
    padding: 10px 10px 20px 10px;
}
.manage_form{
    margin:5px;
    padding:5px;
}
.manage_form input[type="text"]{
    /*width:150px;*/
}
.last_form{
    margin-bottom:40px;
}
.action-bar {
    background: none repeat scroll 0 0 #E5E5E5;
    border-radius: 5px 5px 0 0;
    padding:10px 2px;
    font-size:1.5em;
    font-weight:bold;
}
.data-container {
    position: relative;
    padding:10px;
}
.search{
    width:80%;
}
.new_customer_type{
    display: none;
}
.redBorder{
    border:1px rgb(255,0,0) solid;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  text-align: right;
  opacity: 0;
  background: none repeat scroll 0 0 transparent;
  cursor: inherit;
  display: block;
}
.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-default {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input[type="text"]{
    width:100% !important;
    border-radius: 0px !important;
    border: 1px solid #ddd;
    padding: 5px;
}
textarea{
    width:100% !important;
    border-radius: 0px !important;
    border: 1px solid #ddd;
    /*padding: 5px;*/
    height: 50px;
}

#container {
  margin: 0 auto;
  border: 2px solid black;
  height: 430px;
  margin: 20px 0 0 0;
}

.item {
  /*float: right;*/
    float:left;
  /*background: #CCC;*/
    background: #6495ED;
    color:#eee;
  width: 100px;
  height: 100px;
  /*margin: 10px;*/
    margin: 1px;
}
/*use inches in place of pixels*/
.item.a1_p{
    width: 230.4px;   
    height:330.1px; 
}
.item.a1_l{
    width: 330.1px;
    height: 230.4px;
}
.item.a2_p{
    width: 160.5px;   
    height:230.4px; 
}
.item.a2_l{
    width: 230.4px;
    height: 160.5px;
}
.item.a3_p{
    width: 110.7px;   
    height:160.5px; 
}
.item.a3_l{
    width: 160.5px;
    height: 110.7px;
}
.item.a4_p{
    width: 80.3px;   
    height:110.7px; 
}
.item.a4_l{
    width: 110.7px;
    height: 80.3px;
}
.item.a5_p{
    width: 50.8px;   
    height:80.3px; 
}
.item.a5_l{
    width: 80.3px;
    height: 50.8px;
}

.item.w1 {
    width: 100px;
}

.item.w2 {
    width: 200px;
}

.item.h1 {
    height: 100px;
}

.item.h2 {
    height: 200px
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
          transition-property: height, width;
}


.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}
#canvas{
    width:600px;
    height:600px;
}
/*.display{
    table-layout:auto !important;
}
.display td{
    padding:5px !important;
}
.display input[type="search"]{
    margin:0 !important;
    height:100px !important;
    font-weight:normal !important;
}
.display th{
    background:#000 !important;
    color:#fff !important;    
}*/

