body, html {
    height: 100%;
    background-color: rgb(247, 247, 247);
    margin: 0;
    padding: 0;
    /*font-family: Verdana,sans-serif;*/
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    line-height: 18px;
    margin: 0;
    min-width: 840px;
    padding: 0;
}
.header{
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    height: 73px;
    position: fixed;
    width: 100%;
    z-index: 1300;
    font-size: 14px;
}
.container{
    width:100%;
    position: relative;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.logo{
    position: absolute;
}
.logo img{
    height:70px;
}
.nav{
    padding-left: 0px;
    list-style: none outside none;
    margin-bottom: 0px;
    display: block; 
    margin-left: 100px;
}
.nav ul{
    display: block;
    text-align: center;
    float: none;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}
.nav li:hover {
    border-bottom: 3px solid #FF4539;
}
.nav li{
    height: 73px;
    line-height: 67px;
    display: inline-block;
    margin: 0px 12px;
    word-spacing: 3px;
    transition: all 0.2s ease 0s;
    vertical-align: middle;
}
.nav li > a{
    color: #272727;
    font-size: 15px;
    letter-spacing: -1.1px;
    padding: 0;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    line-height: 21px;
    background-color: rgba(0, 0, 0, 0);
}
.user_nav{
    top:16px;
    width: 12%;
    left: auto;
    right: 10.5px;
    position: absolute;
    z-index: 102;
}
.media{
    overflow: visible;
    margin-top: 0;
}
.js_user{
    float: left; 
    cursor: pointer;
}
.media_photo{
    position: relative;
    width: auto;
    display: table-cell;
    margin: 0;
    vertical-align: middle;
}
.media_photo img{
    height: 36px;
    width: 36px;
    margin: 0;
    border: 1px solid #DBDBDA;
    vertical-align: middle;
    border-radius: 50%;
}
.media_body{
    vertical-align: middle;
    white-space: normal;
    width: auto;
    display: table-cell;
    overflow: hidden;
}
.user_greeting {
    display: block;
    -moz-hyphens: auto;
    color: #373C44;
    font-size: 14px;
    font-weight: 500;
    margin: 3px 0;
    max-height: 40px;
    max-width: 140px;
    overflow: hidden;
    padding-left: 10px;
    word-wrap: break-word;
    text-align: left;
    
}
.popover{
    top: 42px !important;
    z-index: 2000;
    margin-top:10px;
    border: 1px solid #BDBDBD;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    border-radius: 6px;
    display: none;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 276px;
    padding: 1px;
    position: absolute;
    text-align: left;
    white-space: normal;
    background-clip: padding-box;
    transition: opacity 0.15s linear 0s;
}
.arrow:after{
    /*border-bottom-color: #FFFFFF;
    border-top-width: 0;
    content: " ";
    margin-left: -10px;
    top: 1px;
    border-width: 10px;
    content: "";
    display: block;
    border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;
    left: 20px !important;
    border-width: 7px;
    margin-left: -6px;
    top: -15px;
    border-bottom-color: #A5A5A5;
    left: 50%;
    border-style: solid;
    height: 0;
    position: absolute;
    width: 0;*/
}
.popover_content{
    padding: 10px;
}
.popover_content ul{
    margin-top: 0;
}
.popover_content ul li:last-child {
    margin-bottom: -10px;
}
.popover_content ul li:first-child {
    border: 0 none;
}
.popover_content ul li{
    border: 1px solid #DDDDDD;
    /*border-bottom: 1px #ccc solid;*/
    border-radius: 0;
    border-width: 1px 0;
    padding: 7px 0;
    text-transform: none;
    white-space: nowrap;
    font-size: 14px;
    background-color: #FFFFFF;
    display: block;
    margin-bottom: -1px;
    position: relative;    
}
.popover_content ul li a{
    color: #373C44;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    transition: all 0.1s ease 0s;
    background-color: rgba(0, 0, 0, 0);
    margin:3px;    
    
}
.popover_content ul li a:hover{
    color:rgb(255,0,0);
}
.list_group {
    padding-left: 0;
}

/* PROFILE HEADER */
.main{
    padding-top: 73px;
    padding-bottom: 52px;
}
/*.main > div:last-child {
    padding-bottom: 60px;
}*/
.profile_header {
    margin-bottom: -1px;
    position: relative;
    /*z-index: 10;*/
}
.profile_background:before{
    background: linear-gradient(transparent 65%, rgba(0, 0, 0, 0.8) 100%) repeat scroll 0% 0% transparent;
    top: 0px;
    bottom: 0px;
    width: 100%;
    content: "";
    position: absolute;
    /*z-index: 0;*/
}
.profile_background > .container, .profile_background > .container > .row, .profile_background > .container > .row > div {
    height: 449px;
}
.profile_background > .row{
    margin-left: -15px;
    margin-right: -15px;
}
.profile_background .col-md-4 {
    width: 33.3333%;
    float:left;
}
.profile_background .col-md-8 {
    width: 66.6667%;
    float:left;
    
}
.profile_background .col-md-8, .profile_background .col-md-4{
    float:left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.profile_label{
     border-bottom:2px #000 solid;
}
.overlay_buttons{
    font-size: 26px;
    right: -400px;
    top:-70px;
    float:right;
    /*bottom: 20px;*/
    color: rgb(255, 255, 255);
    font-style: italic;
    position: absolute;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    word-wrap: break-word;
}
.btnset{
    position: relative;
    display: inline;
    margin-left: 10px;
}
.panel{
    border: 0px none;
    position: relative;
    text-align: center;
    border-radius: 0px;
    height: 100%;
    margin-bottom: 21px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.panel_heading{
    padding: 10px 60px 0px;
    position: relative;
    /*z-index: 20;*/
    border-bottom: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    text-align:center;
    font-size: 26px;
    /*font-family: whitney_ssmbook,Helvetica,Arial,sans-serif;*/
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);    
    word-wrap: break-word;
    font-weight: normal;
}
.panel_body{
    padding: 20px 0px;
    color: rgb(255, 255, 255);
}
.profile_avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    /*background-image: url("../img/avatar-blank.jpg");*/
    background-image: url("../img/Yzma.PNG");
    border: 1px solid rgb(30, 30, 29);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgb(24, 24, 24);
    display: block;
    height: 300px;
    margin: 35px auto 20px;
    position: relative;
    width: 300px;
}
.profile_pic {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../img/avatar-blank.jpg");
    background-image: url("../img/Yzma.PNG");
    border: 1px solid rgb(30, 30, 29);
    box-shadow: 0px 0px 6px 0px rgb(24, 24, 24);
    display: block;
    height: 300px;
    margin: auto auto 20px;
    width: 300px;
}
.profile_avatar .btn {
    bottom: -5px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
    padding: 3px 6px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    min-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    border-color: rgb(26, 26, 26);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;
}
.profile_avatar > .btn a{
    text-align: center;
    border: 1px solid transparent;
}
/* END PROFILE HEADER */

/* TABS */
.tabs{
    width:100%;
    background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.tabs:after{
    border-radius: 100%;
    bottom: -1px;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
    content: "";
    left: 5%;
    position: absolute;
    right: 5%;
    /*z-index: -1;    */
}
.tabs .container{
    position: relative;
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    width:100%;
}
.tabs .row {
    overflow: visible;
    margin: 0px -15px;
    position: relative;
    padding: 10px;
    /*z-index: 6;*/
}
.tabs ul{
    display: block;
    margin: 0px;
    padding: 0px;
    width:100%;
    float:none;
}
.tabs li{
    display: inline-block;    
    padding: 5px;
    margin:5px;
    border-width: 0px 1px;
    color: rgb(55, 62, 77);
    border-right: 1px solid rgb(233, 234, 237);    
    font-size: 14px;
    font-weight: bold;
    vertical-align: middle;
    white-space: nowrap;
}
.tabs li a{
    color: #272727;
    font-size: 15px;
    font-weight: bold;
    /*line-height: 2px;*/
    text-decoration:none;     
    vertical-align: middle;
    white-space: nowrap;
}
.tabs li a:hover{
    /*text-decoration: underline;    */
    background:#f9f9f9;
}
.tabs li:hover{
    background:#f9f9f9;
}
/* END TABS */

/* MAIN CONTAINER */
.main_container{
    margin-top:20px;
    position: absolute;
    width: 1170px;
    padding-left: 60px;
    padding-right: 60px;
}

.main_container .col-md-4 {
    width: 33.3333%;
    float:left;
}
.main_container .col-md-8 {
    width: 65%;
    float:right;
    
}
.main_container .row:after{
    clear: both;
}
.main_container .content{
    border-top: 3px solid rgb(219, 219, 219);
    margin-bottom: 12px;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.12);
    padding: 5px;
}
.main_container .content_heading{
    font-size: 17px;
    margin:0;
    padding:0px 20px 0px 20px;
    /*font-weight: bold;*/
    
}
.main_container .content_body{
    padding:20px;
    margin-top:-20px;
}
.main_container table{
    width:100%;
}
.main_container td{
    padding:5px;
}
.printing_list td{
    text-align: left;
}
/*.postage_list{
    text-align: right;
}*/


/* END MAIN CONTAINER */

/**ads pages*/
.tile{
    width: 28%;
    height: 150px;
    float: left;
    margin: 1%;
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    display: table;
    float: left;
    height: 160px;
    margin: 8px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}
.add_new_advert{
    font-size:20px;
    line-height:160px;
    color: rgb(133, 197, 31);
}
.tile:hover{
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */  
}
.ads_list_table_view{
    display: none;
}

/*END ads pages**/

/*main row*/
.main_row{
    background: #fff;
    width: 100%;
    font-size:14px;
}
.left_col{
    width:65%;
    float:left;
    padding:20px;
}
.right_col{
    width: 25%;
    float:right;
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    padding:20px;
}
.main_row label{
    font-weight: bold;
}
/*end main row*/

/*ad sizes*/
.size{
    border: 2px #ccc solid;
    cursor: pointer; 
    float:left;
    margin-right:5px;
}
.a5_potrait{
    width: 40px;
    height:50px;
}
.a4_potrait{
    width: 50px;
    height:60px;
}
.a3_potrait{
    width: 60px;
    height:70px;
}
.a2_potrait{
    width: 70px;
    height:80px;
}
.a1_potrait{
    width: 80px;
    height:90px;
}
.a5_landscape{
    width: 50px;
    height:25px;
}
.a4_landscape{
    width: 60px;
    height:35px;
}
.a3_landscape{
    width: 70px;
    height:50px;
}
.a2_landscape{
    width: 80px;
    height:60px;
}
.a1_landscape{
    width: 90px;
    height:70px;
}
.potrait_div td, .landscape_div td{
    float: left;
    text-align:center;
}
.landscape_div {
    display: none;
}
#post_advert input[type="text"]{
    width:300px;
}
#post_advert #contact_mobile_number{
    width:315px;
}
#post_advert textarea{
    width:400px;
    height:100px;
    border: 2px #ccc solid;
    border-radius: 0px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 2px 5px;
}
#post_advert #ad_title{
    width:400px;
}


/* end ad sizes*/

/*ad location table */

/*end ad location*/



.add_social_account{
    display: none;
}
.control-label .text-info { 
    display:inline-block; 
}
.profile_data input[type="text"]{
    width:70%;
}
.profile_data ul{
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    border-bottom: 1px #000 solid;
}
.profile_data ul li{
    padding:10px;
    border-bottom: 1px #000 solid;
}
.profile_data li:last{
    border-bottom: none;
}
.profile_data ul li:hover{
    background-color: #F9F9F9;
}
.profile_data input[type="text"]{
    width:80%;
    border-radius: none;
    border:1px #ccc solid;
}
.edit-btn{
    float: right;
    margin-right:10px;
    vertical-align:bottom;
}
/* ribbon links */
.ribbon {
    margin:10px 0px;
    padding:0px;
    font-size: 14px;
}

.ribbon li {
  list-style-type: none;
  display: inline-block;
  margin-right: 26px;
  height: 50px;
  line-height: 50px;
  width: 130px;
  background-color: rgb(133, 197, 31);  
  text-align: center;
  position: relative;
  cursor: pointer;
}

.ribbon li:not(:first-child)::before{
   content: '';
  border-left: 25px solid transparent;
  border-top: 25px solid rgb(133, 197, 31);
  border-bottom: 25px solid rgb(133, 197, 31);
  border-right: 0;
  position: absolute;
  left: -25px;
}

.ribbon li::after {
  content: '';
  border-left: 25px solid rgb(133, 197, 31);
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-right: 0;
  position: absolute;
  right: -25px;
}
.ribbon a{
    text-decoration: none;
    color: #000;
    font-weight: bold;    
}

/*end ribbon links*/

/* post ads */
.ad_options{
}
.paper_preview_landscape{   
    width:160px;
    height:80px;
    border:1px #cccccc solid;
    display:none;
    background: #ffffff;
}
.paper_preview_potrait{
    width:100px;
    height:140px;
    border:1px #cccccc solid;
    background: #ffffff;
}
.gloss{
    background:#222 -webkit-radial-gradient(20% 80%, 60% 60%, rgba(255,255,255,0.9), rgba(255,255,255,1));
    box-shadow: 0px 0px 5px rgba(0,0,0,.3);
    padding:7px;
}
.laminate{
    border:3px #cccccc solid;
}
/* end post ads */

.numberCircle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 25px;
    height: 25px;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font-size: 16px;
}
.main_container{
    border-radius: none;
    border:1px #ccc solid;
}
table{
    /*text-align:left !important;*/
}
object{
    overflow:hidden;
    object-fit: cover;
    max-height:100%;
    max-width:100%;
}
.hide{
    display: none;
}
.outer, .inner{
    width:400px;
    border-bottom: 1px solid #000;
}
.inner{
    border-top: 1px solid #000;
    padding:4px 20px 4px 20px;
}
.outer{
    padding-bottom:7px;
}

.calc{
    text-align: left;
}
/*.preview_div{
    width:10px;
    height:10px;
}*/
