{% extends "staff/template1.html" %}

{% block title %} {{advert.title}} {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/" class="active">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li>
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/dashboard/"><i class="gi gi-home"></i><span class="sidebar-nav-mini-hide">Home</span></a>
</li>
<li>
    <a href="/staff/ad/book/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/staff/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>

{% endblock %}

{% block content %}
<div class="row">
    <!--BILLING WIDGET-->
    <div class="col-sm-4">
        <div class="widget">
            <div class="widget-content border-bottom" style="background:#B3CA30;color:#fff;">
                    Billing Details
            </div>
            <div class="widget-content widget-content-full-top-bottom border-bottom">
                <div class="row">
                    <h4><strong>{{advert.user.first_name}} {{advert.user.last_name}}</strong></h4>                    
                    {% if advert.user.email != None or advert.user.email != "" %}<i class="fa fa-envelope"></i>{{advert.user.email}}{% endif %}<br>
                    {% if advert.user.user_profile.phone_number == None or advert.user.user_profile.phone_number == "" %}{% else %}<i class="fa fa-phone"></i> {{advert.user.user_profile.phone_number}}{% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--INVOICE WIDGET-->
    <div class="col-sm-4">
        <div class="widget">
            <div class="widget-content border-bottom"  style="background:#51D1B5;color:#fff;">
                    Invoice Details
            </div>
            <div class="widget-content widget-content-full-top-bottom border-bottom">
                <div class="row">
                    <h4><strong>Amount: KES {{advert.grand_price}}</strong></h4>
                    <strong>Invoice No:</strong> INV{{payment.id|stringformat:"04d"}}<br>
                    <strong>Date:</strong> {{payment.timestamp | date}}<br>                    
                </div>
            </div>
        </div>
    </div>

    <!--BOOKED LOCATIONS WIDGET-->
    <div class="col-sm-4">
        <div class="widget">
            <div class="widget-content border-bottom" style="background:#434B56;color:#fff;">
                    Booked Locations
            </div>
            <div class="widget-content widget-content-full-top-bottom border-bottom">
                <div class="row">
                    {% for loc in booked_locs %}
                        {{loc.name}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <table class="table table-striped table-bordered table-vcenter index">
        <thead>
            <tr>
                <!--th style="background:#B3CA30;color:#fff;">Booking Reference</th-->
                <th style="background:#69AC0B;color:#fff;">Location</th>
                <th style="background:#51D1B5;color:#fff;">Category/AD Size</th>
                <th style="background:#3DAC95;color:#fff;">Duration</th>
                <th style="background:#434B56;color:#fff;">Total Price</th>
            </tr>
        </thead>
        <tbody>
        {% for ba in booked_ads %}
            <tr>
                <!--td><a href="/staff/ad/booking/{{ba.booking_id}}/">{{booked_spaces.forloop.counter}}.section</a></td-->
                <td>{{ba.location}}</td>
                <td>{{advert.category}} / {{advert.size}}</td>
                <td>{{ba.start_date}} - {{ba.end_date}}</td>
                <td>KES {{ba.price}}</td>
            </tr>        
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="padding:2px;background:#474B57;">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4><strong><span class="white">Status:</span> 
                            <span class="blue">{% if advert.booking_stage == "Stage3"%}Paid{% else %}Pending{% endif %}</span></strong></h4>
                        </div>
                        <div class="col-sm-4">
                            <h4><strong><span class="white">Total Due:</span> 
                            <span class="blue">KES {% if advert.booking_stage == "Stage3"%}0{% else %}advert.grand_price{% endif %}</span></strong></h4>
                        </div>                        
                    </div>    
                    <div class="row">
                        <div class="col-sm-4">
                            <hr style="margin-top:0 !important;margin-bottom:0 !important;">
                            <span class="blue">Payments</span>
                            <hr style="margin-top:0 !important;margin-bottom:0 !important;">
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4><span class="white">Date:</span> 
                            <span class="blue">{% if advert.booking_stage == "Stage3"%}Paid{% else %}Pending{% endif %}</span></h4>
                        </div>
                        <div class="col-sm-4">
                            <h4><span class="white">Method: </span> 
                            <span class="blue">{{payment.method}}</span></h4>
                        </div> 
                        <div class="col-sm-4">
                            <h4><span class="white">Amount: </span> 
                            <span class="blue">KES {% if advert.booking_stage == "Stage3"%}{{advert.grand_price}}{% else %}advert.grand_price{% endif %}</span></h4>
                        </div> 
                    </div>
                </td>
                <td colspan="2" style="padding: 20px;background:#343436;">
                    <div class="col-sm-7">
                        <h3><span class="white">Amount: </span> 
                        <span class="blue">KES {{advert.grand_price}}</span></h3>
                        </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
