{% extends "staff/template1.html" %}

{% block title %} Add Inventory {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/" class="active">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<!--li>
    <a href="/staff/inventory/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Inventory</span></a>
</li>
<li>
    <a href="/staff/inventory/add/form/" class="active"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Inventory</span></a>
</li-->

{% endblock %}

{% block content %}

<div class="block full">
    <div class="block-title">
        <h2>{{section.location}} / {{section.label}} - Add Inventory</h2>
    </div>
    <div class="row">
        <span class="notification upload_inventory_form_notification"></span>
    </div>
    <form action="/staff/inventory/upload_csv/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="{{section.id}}" name="section_id_1">
    <div class="row">
        <div class="form-group">
            <div class="col-md-8">
                <div class="input-group">
                    <input type="file" id="csv_file" name="csv_file" class="form-control" placeholder="Upload CSV">            
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-effect-ripple btn-primary" value="Upload">
                    </span>
                </div>
            </div>
        </div>
    </div>
    </form>
    <h3>OR</h3>
    <div class="row">
        <span class="notification add_inventory_form_notification"></span>
    </div>
    <form action="/staff/inventory/create/" method="post" id="add_inventory_form" name="add_inventory_form">
    {% csrf_token %}
    <input type="hidden" value="{{section.id}}" name="section_id_2">
    <div class="row">
        <div class="form-group">
            <div class="form-group">
                <div class="col-md-3">
                    <input type="text" placeholder="First Name" class="form-control ui-wizard-content required" name="first_name" id="first_name">
                </div>

                <div class="col-md-3">
                    <input type="text" placeholder="Last Name" class="form-control ui-wizard-content required" name="last_name" id="last_name">
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Email Address" class="form-control ui-wizard-content" name="email_address" id="email_address">
                </div>
                <div class="col-md-3">
                    <input type="text" placeholder="Mobile Number" class="form-control ui-wizard-content" name="mobile_number" id="mobile_number">
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
                <div class="col-md-3">
                    <input type="text" placeholder="Receipt No" class="form-control ui-wizard-content required" name="receipt_no" id="receipt_no">
                </div>

                
                <div class="col-md-3">
                    <input type="text" placeholder="Start Date" class="form-control ui-wizard-content dates required" name="start_date" id="start_date">
                </div>

                <div class="col-md-3">
                    <input type="text" placeholder="End Date" class="form-control ui-wizard-content dates required" name="end_date" id="end_date">
                </div>

                <div class="col-md-3">
                    <select class="form-control ui-wizard-content" id="ad_category" name="ad_category">
                        {% for cat in categories %}
                        <option value="{{cat.id}}">{{cat.name}}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <select class="form-control ui-wizard-content" id="ad_orientation" name="ad_orientation">
                    {% for item in orientation %}
                    <option value="{{item.0}}">{{item.1}}</option>
                    {% endfor %}
                </select>
            </div>    

            <div class="col-md-3">
                <select class="form-control ui-wizard-content" id="ad_size" name="ad_size">
                    {% for item in sizes %}
                    <option value="{{item.0}}">{{item.1}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="button" id="Add_Inventory">Add Inventory</button>
            </div>
        </div>
    </div>

    </form>

</div>

<script>
$(document).ready(function(){
    $(".dates").datepicker();
    $(".dates").datepicker( "option", "dateFormat", "yy-mm-dd" );

    $("#mobile_number").intlTelInput({
        'allowExtensions':false,
        'autoformat':true,
        'autoPlaceholder':false,
        'defaultCountry':"KE",
        'nationalMode':true,
        'utilsScript':"/static/telinput/lib/libphonenumber/build/utils.js",
    });

    $("#Add_Inventory").click(function(){
        //check that all required has been clicked
        $(".add_inventory_form_notification").html("");
        submitForm = true;
        $("#add_inventory_form").find(".required").each(function(){
            if($(this).val() == ""){
                submitForm = false;
            }
        });
        if(submitForm){
            //$("#add_inventory_form").submit();
            var form = document.forms.namedItem("add_inventory_form");
            var formData = new FormData(form);
            //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url : $("#add_inventory_form").attr('action'),
                type: 'POST',
                processData: false,
                contentType: false,
                data: formData,
                success : function (response) {
                    if(response == "success"){
                        $("#add_inventory_form").find("input").each(function(){
                            $(this).val("");
                        });
                        $(".add_inventory_form_notification").html("Inventory added successfully.");
                        location.reload();
                    }
                    else{
                        $(".add_inventory_form_notification").html("There was an error uploading inventory: "+response);
                    }
                }
            }); 
        }
        else{
            $(".add_inventory_form_notification").html("Please fill all fields");
        }
    });

});
</script>


{% endblock %}
