{% extends 'staff/template1.html' %}

{% block title %} Add Section {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/" class="active">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-globe"></i><span class="sidebar-nav-mini-hide">Locations</span></a>
    <ul>
        <li><a href="/staff/locations/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Locations</span></a></li>
        <li><a href="/staff/locations/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Location</span></a></li>
    </ul>
</li>

<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items"></i><span class="sidebar-nav-mini-hide">Sections</span></a>
    <ul>
        <li><a href="/staff/sections/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Sections</span></a></li>
        <li><a href="/staff/sections/add/form/" class="active"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Section</span></a></li>
    </ul>
</li>

{% endblock %}


{% block content %}

<div class="block full">
    <div class="block-title">
        <h2>Add New Section</h2>
    </div>
    <form action="/staff/sections/add/" method="post" enctype="multipart/form-data" id="add_section_form">
        {% csrf_token %}

        <div class="row">
            <label for="name" class="col-md-2 control-label"></label>
            <span class="notification add_section_form_notification"></span>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Label</label>
                    <div class="col-md-4">
                        <input type="text" placeholder="" class="form-control ui-wizard-content" name="label" id="label">
                    </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Location</label>
                    <div class="col-md-4">
                        <select name="location">{% for loc in locations %}<option value="{{loc.id}}">{{loc.name}}</option>{% endfor %}</select>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Shape</label>
                    <div class="col-md-4">
                        <select name="shape">{% for item in shapes %}<option value="{{item.0}}">{{item.1}}</option>{% endfor %}</select>
                    </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-md-2 control-label">Dimensions</label>
                    <div class="col-md-4">
                        <input type="text" name="dimensions" placeholder="CSV" class="required">
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="img" class="col-md-2 control-label">Image</label>
                    <div class="col-md-4">
                        <input type="file" id="img" name="img" class="upload">
                    </div>
            </div>

        </div>

        <div class="row">
                <label class="col-md-10 control-label"></label>
                <div class="form-group">
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" id="Add_Section" onclick="return false;">Add Section</i></button>
                    </div>
                </div>
            </div>
        </div>

    </form>

</div>
<script type="text/javascript">
$(document).ready(function(){

    $("#img").fileinput({
		showUpload: false,
		showCaption: false,
        showPreview: true,
        showCancel: false,
        showClose: false,
        browseIcon:"<i class='hi hi-plus'></i>",
        browseClass: "btn btn-upload",
        browseLabel: "",
        allowedFileExtensions:['docx','doc','png','jpeg','jpg','gif','pdf']
	});

    $("#Add_Section").click(function(){
        $(".add_section_form_notification").html("");

        submitForm = true;
        $("#add_section_form").find(".required").each(function(){
            if($(this).val() == ""){                
                submitForm = false;
            }
        });
        if(submitForm){
            $("#add_section_form").submit();
        }
        else{
            $(".add_section_form_notification").html("Please fill all fields.");
        }
    });

});

</script>

{% endblock %}
