{% extends 'staff/template1.html' %}

{% block title %} Add Location {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/" class="active">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-globe"></i><span class="sidebar-nav-mini-hide">Locations</span></a>
    <ul>
        <li><a href="/staff/locations/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Locations</span></a></li>
        <li><a href="/staff/locations/add/form/" class="active"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Location</span></a></li>
    </ul>
</li>

<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items"></i><span class="sidebar-nav-mini-hide">Sections</span></a>
    <ul>
        <li><a href="/staff/sections/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Sections</span></a></li>
        <li><a href="/staff/sections/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Section</span></a></li>
    </ul>
</li>

{% endblock %}

{% block summary %}

<h4 class="inner-sidebar-header">Location Stats</h4>
<table class="fancy_table">
    <tr><td colspan="2"><label>Locations:</label> <span class="summary_locations">--</span></td></tr>
    <tr><td colspan="2"><label>Sections:</label><span class="summary_sections"></span></td></tr>
</table>

{% endblock %}

{% block content %}

<div class="block full">
    <div class="block-title">
        <h2>Add New Location</h2>
    </div>
    <form action="/staff/locations/add/" method="post" enctype="multipart/form-data" id="add_location_form">
        {% csrf_token %}
        <!-- STEP 1 -->
        <div id="clickable-first" class="step location_details">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-7">
                        <ul class="nav nav-pills nav-justified clickable-steps">
                            <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="hi hi-list-alt"></i><strong>Location Description</strong></a></li>
                            <li><a href="javascript:void(0)" data-gotostep="clickable-second"><i class="gi gi-calculator"></i><strong>Pricing</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <label for="name" class="col-md-2 control-label"></label>
                <span class="notification add_location_form_notification"></span>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Name</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="" class="form-control ui-wizard-content" name="name" id="name">
                        </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <label for="name" class="col-md-2 control-label">Description</label>
                        <div class="col-md-8">
                            <textarea class="form-control ui-wizard-content" name="description" id="description"></textarea>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="currency" class="col-md-2 control-label">Currency</label>
                        <div class="col-md-8">
                            <!--input type="text" placeholder="" class="form-control ui-wizard-content" name="currency" id="currency"-->
                            <select name="currency" id="currency">
                                {% for cur in currencies %}
                                    <option value='{{cur.0}}'>{{cur.1}}</option>
                                {% endfor %}
                            </select>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="tax_rate" class="col-md-2 control-label">Tax Rate</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="" class="form-control ui-wizard-content" name="tax_rate" id="tax_rate">
                        </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <label for="traffic" class="col-md-2 control-label">Foot Traffic / Month</label>
                        <div class="col-md-8">
                            <input type="text" placeholder="" class="form-control ui-wizard-content" name="traffic" id="traffic">
                        </div>
                </div>
            </div>


            <div class="row">
                <div class="form-group">
                    <label for="logo" class="col-md-2 control-label">Upload Logo</label>
                        <div class="col-md-8">
                            <input type="file" name="logo" id="logo">
                        </div>
                </div>
            </div>

            <div class="row">
                <label class="col-md-2 control-label">Upload Photos</label>
                <div class="col-md-3">
                    <input type="file" name="img1" id="img1">
                </div>
                <div class="col-md-3">
                    <input type="file" name="img2" id="img2">
                </div>        
            </div>

            <div class="row">
                <label class="col-md-10 control-label"></label>
                <div class="form-group">
                    <div class="col-md-1">
                        <button class="btn btn-next" type="button" id="next2" onclick="return false;">Next <i class="fa fa-chevron-circle-right"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!--END STEP 1-->
        <!--STEP 2-->
        <div id="clickable-first" class="step pricing_details">
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-7">
                        <ul class="nav nav-pills nav-justified clickable-steps">
                            <li><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="hi hi-list-alt"></i><strong>Location Description</strong></a></li>
                            <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-second"><i class="gi gi-calculator"></i><strong>Pricing</strong></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="name" class="col-md-2 control-label"></label>
                <span class="notification add_location_form_notification"></span>
            </div>
            
            {% for size in sizes %}
                <div class="row">
                    <div class="form-group">
                        <label for="name" class="col-md-1 control-label">{{size.0}}</label>
                        <div class="col-md-2">
                            <input type="text" placeholder="Daily Rate" class="form-control ui-wizard-content numeric" name="{{size.0}}_daily_rate">
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Weekly Rate" class="form-control ui-wizard-content numeric" name="{{size.0}}_weekly_rate">
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Monthly Rate" class="form-control ui-wizard-content numeric" name="{{size.0}}_monthly_rate">
                        </div>
                        <div class="col-md-2">
                            <input type="text" placeholder="Yearly Rate" class="form-control ui-wizard-content numeric" name="{{size.0}}_yearly_rate">
                        </div>

                    </div>
                </div>
            {% endfor %}
           
            <div class="row">
                <label class="col-md-7 control-label"></label>
                <div class="form-group">
                    <div class="col-md-1">
                        <button class="btn btn-next" type="button" id="back1" onclick="return false;">Back <i class="fa fa-chevron-circle-left"></i></button>
                        <button class="btn btn-info" type="button" id="Create_Location" onclick="return false;">Create Location</i></button>
                    </div>
                </div>
            </div>
        </div>
        <!--END STEP 2-->

    </form>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#logo").fileinput({
		showUpload: false,
		showCaption: false,
        showPreview: true,
        showCancel: false,
        showClose: false,
        browseIcon:"<i class='hi hi-plus'></i>",
        browseClass: "btn btn-upload",
        browseLabel: "",
        allowedFileExtensions:['docx','doc','png','jpeg','jpg','gif','pdf']
	});

    $("#img1").fileinput({
		showUpload: false,
		showCaption: false,
        showPreview: true,
        showCancel: false,
        showClose: false,
        browseIcon:"<i class='hi hi-plus'></i>",
        browseClass: "btn btn-upload",
        browseLabel: "",
        allowedFileExtensions:['docx','doc','png','jpeg','jpg','gif','pdf']
	});


    $("#img2").fileinput({
		showUpload: false,
		showCaption: false,
        showPreview: true,
        showCancel: false,
        showClose: false,
        browseIcon:"<i class='hi hi-plus'></i>",
        browseClass: "btn btn-upload",
        browseLabel: "",
        allowedFileExtensions:['docx','doc','png','jpeg','jpg','gif','pdf']
	});

    //hide some forms
    $(".location_details").css("display", "block");
    $(".pricing_details").css("display", "none");

    //$("#Create_Location").click(function(){
    $("#next2").click(function(){       
        $(".add_location_form_notification").html("");

        var empty = false;
        var non_numeric = false; 

        $(".location_details").find("input").each(function(){
            if($(this).val() == ""){
                empty = true;
            }            
        });
        $(".location_details").find(".numeric").each(function(){
            if(!$.isNumeric($(this).val())){
                non_numeric = true;
            }            
        });
        if(empty == true){
            $(".add_location_form_notification").html("Please fill all empty fields.");
        }
        else if(non_numeric == true){
            $(".add_location_form_notification").html("Please enter numeric values for all marked fields.");
        }
        else{
            $(".location_details").css("display", "none");
            $(".pricing_details").css("display", "block");
        }
    });

    $("#Create_Location").click(function(){     
        $(".add_location_form_notification").html("");

        var empty = false;
        var non_numeric = false; 

        $(".pricing_details").find("input").each(function(){
            if($(this).val() == ""){
                empty = true;
            }            
        });
        $(".pricing_details").find(".numeric").each(function(){
            if(!$.isNumeric($(this).val())){
                non_numeric = true;
            }            
        });
        if(empty == true){
            $(".add_location_form_notification").html("Please fill all empty fields.");
        }
        else if(non_numeric == true){
            $(".add_location_form_notification").html("Please enter numeric values only for all fields.");
        }
        else{            
            $("#add_location_form").submit();
        }
    });

    $("#back1").click(function(){
        $(".location_details").css("display", "block");
        $(".pricing_details").css("display", "none");
    });


});
</script>

{% endblock %}
