{% extends "staff/template1.html" %}

{% block title %} Add Personnel {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/" class="active">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}


{% block navigation_links %}
<li>
    <a href="/staff/personnel/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Personnel</span></a>
</li>
<li>
    <a href="/staff/personnel/add/form/" class="active"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Personnel</span></a>
</li>

{% endblock %}{% block content %}
<div class="block full">
    <div class="block-title">
        <h2>Add New Personnel</h2>
    </div>
    <form class="form-horizontal form-bordered" onsubmit="return false;">
        <div class="form-group">
            <span id="add_personnel_form_notification" class="notification"></span>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name">
            </div>
            <div class="col-md-6">
                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
            </div>            
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="email_address" name="email_address" class="form-control" placeholder="Email Address">
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" id="mobile_number" name="mobile_number" class="form-control" placeholder="Mobile Number">
            </div>            
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Activate?</label>
            <div class="col-md-1">
                <label class="switch switch-success" for="is_active">
                <input type="checkbox" id="is_active" name="is_active" value="1">
                <span data-toggle="tooltip" title="Activate staff?"></span>
                </label>
            </div>
            <label class="col-sm-3 control-label">Super admin?</label>
            <div class="col-md-1">
                <label class="switch switch-success" for="is_superuser">
                <input type="checkbox" id="is_superuser" name="is_superuser" value="1">
                <span data-toggle="tooltip" title="Will this user have super user privileges?"></span>
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <button class="btn btn-block btn-primary" type="button" id="Add_Personnel">Save Personnel</button>
            </div>
        </div>
    </form>
</div>
<script>
$(document).ready(function(){

    $("#mobile_number").intlTelInput({
        'allowExtensions':false,
        'autoformat':true,
        'autoPlaceholder':false,
        'defaultCountry':"KE",
        'nationalMode':true,
        'utilsScript':"/static/telinput/lib/libphonenumber/build/utils.js",
    });

    $("#Add_Personnel").click(function(){
        $("#add_personnel_form_notification").html("");
        var first_name = $.trim($("#first_name").val());
        var last_name = $.trim($("#last_name").val());
        var email_address = $.trim($("#email_address").val());
        var mobile_number = $.trim($("#mobile_number").val());
        var is_active = $("#is_active").is(":checked");
        var is_staff = $("#is_staff").is(":checked");
        var is_superuser = $("#is_superuser").is(":checked");
        var isValid = $("#mobile_number").intlTelInput("isValidNumber");

        if(first_name == "" || last_name == ""){
            $("#add_personnel_form_notification").html("Fill in the personnel's name.");
        }
        else if(email_address == "" && mobile_number == ""){
            $("#add_personnel_form_notification").html("Submit either an email address or a mobile number.");
        }
        else if(email_address != "" && !validateEmail(email_address)){
            $("#add_personnel_form_notification").html("Enter a valid email address.");
        }
        else if(mobile_number != "" && isValid == false){
            $("#add_personnel_form_notification").html("Enter a valid mobile number.");
        }
        else{
            $.ajax({
                url: "/staff/personnel/add/",
                type: "POST",
                data:{
                    "first_name":first_name,
                    "last_name":last_name,
                    "email_address":email_address,
                    "mobile_number":mobile_number,
                    "is_active":is_active,
                    "is_superuser":is_superuser,
                    "csrfmiddlewaretoken":"{{csrf_token}}"
                },
                beforeSend: function(){
                    $("#Add_Personnel").text("Adding...");
                },
                success: function(response){
                    if(response == "exists"){
                        $("#add_personnel_form_notification").html("Email address or mobile number already exists. Please enter a different one.");
                    }
                    else if(response == "error"){
                        $("#add_personnel_form_notification").html("An error has occured while creating the client. Please try again.");
                    }
                    else{
                        window.href="/staff/personnel/";
                    }   
                    $("#Add_Personnel").text("Save Personnel");
                }
            });
        }
    });    
});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
