{% extends "staff/template1.html" %}

{% block title %} AD Cabinet {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/" class="active">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/dashboard/"><i class="gi gi-home"></i><span class="sidebar-nav-mini-hide">Home</span></a>
</li>
<li>
    <a href="/staff/ad/book/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/staff/ads/" class="active"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>

{% endblock %}

{% block content %}
<!--div class="row">
    <select name="categories" id="categories">
        <option value=""> Categories </option>
        {% for cat in categories %}
            <option value="{{cat.id}}">{{cat.name}}</option>
        {% endfor %}
    </select>

    <select name="locations" id="locations">
        <option value=""> Location </option>
        {% for loc in locations %}
            <option value="{{loc.id}}">{{loc.name}}</option>
        {% endfor %}
    </select> 
    <input type="text" name="start_date" id="start_date" placeholder="Start Date" class="dates">
    <input type="text" name="end_date" id="end_date" placeholder="End Date" class="dates">
    <button name="search" id="search" class="black">Search</button>
    <button name="reset" id="reset" style="float:right;" class="grey">Reset Filters</button>
    
</div-->
<div class="row">
    <select id="list_view" style="float:right;"> 
        <option value="table_view">List View</option>  
        <option value="tile_view">Tile View</option>          
    </select>    
</div>

<div class="row">
    <div class="ads_list_tile_view">
    {% for ad in ads_list%}
            <a href="/staff/ads/{{ad.advert.id}}/">
            {% if ad.advert.extension == '.jpg' or ad.advert.extension == '.jpeg' or ad.advert.extension == '.png' or ad.advert.extension == '.gif' %}    
                <div class="tile"> 
                    <img src="/media/{{ad.ad_url}}">
                </div>
            {% elif ad.advert.extension == '.pdf' %}
                <div class="tile">
                    <iframe src="/media/{{ad.ad_url}}"></iframe>
                </div>
            {% elif ad.advert.extension == '.docx' or ad.advert.extension == '.doc' or ad.advert.extension == '.odt' %}
                <div class="tile">
                    <iframe src="http://docs.google.com/viewer?url=/media{{ad.ad_url}}&embedded=true"></iframe>
                </div>
            {% endif %}
            </a>
    {% endfor %}
    </div>
</div>

<div class="row">
    <div class="ads_list_table_view">
        <table class="table table-striped table-borderless table-vcenter index">
            <thead>
                <tr>
                    <th style="background:#B3CA30;color:#fff;">#</th>
                    <th style="background:#69AC0B;color:#fff;">Layout</th>
                    <th style="background:#51D1B5;color:#fff;">Client</th>
                    <th style="background:#3DAC95;color:#fff;">Category</th>
                    <!--th>Stage</th-->
                    <th style="background:#434B56;color:#fff;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for ad in ads_list %}
                    <tr>
                        <td><!--a href="/staff/ads/{{ad.id}}/"-->{{ad.id|stringformat:"05d"}}<!--/a--></td>
                        <td>{{ad.size}} - {{ad.orientation}}</td>
                        <td><!--a href="/staff/customers/{{ad.user.id}}/"-->{{ad.user.first_name}} {{ad.user.last_name}}<!--/a--></td>
                        <td>{{ad.category}}</td>
                        <!--td>{{ad.stage}}</td-->
                        <td class="text-center">
                            <a href="/staff/ads/{{ad.id}}/">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $(".ads_list_tile_view").css("display","none");
    $(".ads_list_table_view").css("display","block");

    $(".dates").datepicker();
    

    $("#list_view").change(function(){        
        var list_view = $("#list_view").val();
        if(list_view == "table_view"){
            $(".ads_list_tile_view").css("display","none");
            $(".ads_list_table_view").css("display","block");
        }
        else if(list_view == "tile_view"){
            $(".ads_list_tile_view").css("display","block");
            $(".ads_list_table_view").css("display","none");
        }
    });
});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock%}



