{% extends "staff/template1.html" %}

{% block title %} Customers {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/" class="active">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li>
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block summary %}

<h4 class="inner-sidebar-header">Customer Stats</h4>
<table class="fancy_table">
    <tr><td colspan="2"><label>Completed ADs:</label> <span class="summary_complete_ads">--</span></td></tr>
    <tr><td colspan="2"><label>Incomplete ADs:</label><span class="summary_incomplete_ads"></span></td></tr>
</table>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/customers/" class="active"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Customers</span></a>
</li>
<li>
    <a href="/staff/customers/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Customer</span></a>
</li>

{% endblock %}

{% block content %}
<div class="block full">
    <div class="block-title">
        <h2>All Customers</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter index">
            <thead>
                <th style="background:#B3CA30;color:#fff;">Name</th>
                <th style="background:#69AC0B;color:#fff;">Email Address</th>
                <th style="background:#51D1B5;color:#fff;">Mobile Number</th>
                <th style="background:#3DAC95;color:#fff;">Active</th>
                <th style="background:#434B56;color:#fff;">Action</th>
            </thead>
            <tbody>
                {% for item in clients_list %}
                    
                    <tr  class='client_tr_{{item.client.id}}'>                    
                        <td>{{item.client.first_name}} {{item.client.last_name}}</td>
                        <td>{{item.client.email}}</td>
                        <td>{{item.phone_number}}</td>
                        <td>{{item.client.is_active}}</td>
                        <td><a href="/staff/users/edit/{{item.client.id}}/">Edit</a> | <a href='javascript:void(0);' class='delete_client' client-id="{{item.client.id}}">Delete</a></td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function(){

    $("#create_client_btn").click(function(){
        $("#add_client_form").css("display","block");
    });
    $("#CancelClient").click(function(){
        $("#add_client_form_notification").html("");
        $("#add_client_form").css("display","none");
    });

    $("#AddClient").click(function(){
        $("#add_client_form_notification").html("");
        var first_name = $.trim($("#first_name").val());
        var last_name = $.trim($("#last_name").val());
        var email_address = $.trim($("#email_address").val());
        var mobile_number = $.trim($("#mobile_number").val());
        var is_active = $("#is_active").is(":checked");

        if(first_name == "" || last_name == ""){
            $("#add_client_form_notification").html("Fill in the client's name.");
        }
        else if(email_address == "" && mobile_number == ""){
            $("#add_client_form_notification").html("Submit either an email address or a mobile number.");
        }
        else if(email_address != "" && !validateEmail(email_address)){
            $("#add_client_form_notification").html("Enter a valid email address.");
        }
        else if(mobile_number != "" && !validatePhone(mobile_number)){
            $("#add_client_form_notification").html("Enter a valid mobile number.");
        }
        else{
            $.ajax({
                url: "/staff/users/edit/",
                type: "POST",
                data:{
                    "first_name":first_name,
                    "last_name":last_name,
                    "email_address":email_address,
                    "mobile_number":mobile_number,
                    "is_active":is_active,
                    "type":"client",
                    "csrfmiddlewaretoken":"{{csrf_token}}"
                },
                beforeSend: function(){
                    $("#AddClient").text("Adding...");
                },
                success: function(response){
                    if(response == "exists"){
                        $("#add_client_form_notification").html("Email address or mobile number already exists. Please enter a different one.");
                    }
                    else if(response == "error"){
                        $("#add_client_form_notification").html("An error has occured while creating the client. Please try again.");
                    }
                    else{
                        var split_data = response.split(":");
                        var client_id = split_data[0];
                        var name = split_data[1]+" "+split_data[2];
                        var email = split_data[3];
                        var number = split_data[4];
                        var is_active = split_data[6];

                        $(".clients_list").append("<tr class='client_tr_"+client_id+"'><td>"+name+"</td><td>"+email+"</td><td>"+number+"</td><td>"+is_active+"</td><td><a href='/staff/users/edit/"+client_id+"/'>Edit</a> | <a href='javascript:void(0);' class='delete_client' client-id='"+client_id+"'>Delete</a></td></tr>");

                        $("#first_name").val("");
                        $("#last_name").val("");
                        $("#email_address").val("");
                        $("#mobile_number").val("");
                    }   
                    $("#AddClient").text("Add Client");
                }
            });
        }
    });

    //delete a client
        $(document).on("click",".delete_client",function(){    
            var client_id = $(this).attr('client-id');   
            $.ajax({
                url:"/staff/users/delete/",
                type:'POST',
                data:{
                    'user_id':client_id,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success:function(data){
                    if(data == "deleted"){
                        $('.client_tr_'+client_id).remove();
                    }
                }         
            });
        });

});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
