{% extends "staff/template.html" %}

{% block title %} Dashboard {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/" class="active">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li>
<li><a href="/staff/locations/">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/dashboard/" class="active"><i class="gi gi-home"></i><span class="sidebar-nav-mini-hide">Home</span></a>
</li>
<li>
    <a href="/staff/ad/book/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/staff/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>

{% endblock %}

{% block summary %}

<div class="form-group">
    <div class="col-md-16">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search">  
                <span class="input-group-btn">
                    <button class="btn btn-effect-ripple btn-primary" type="button" style="overflow: hidden; position: relative;">
                        <i class="hi hi-search"></i>
                    </button>
                </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">My Tasks</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#D85245" data-track-color="#f9f9f9">
                <span><strong>{{my_tasks}}</strong></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">Users Logged In</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#3CC3AE" data-track-color="#f9f9f9">
                <span><strong>{{users_logged}}</strong></span>
            </div>
        </div>
    </div>
</div>

<div class="row">    
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">Users Logged In</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#B4CE2B" data-track-color="#f9f9f9">
                <span><strong>{{users_logged}}</strong></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">        
        <table class="dashboard">
            <thead>
                <tr>
                    <th style="background:#B5CE33;color:#fff;">Bookings</th>
                    <th style="background:#5FA311;color:#fff;">Today <!--i class="fa fa-caret-down" style="float:right;"--></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="background:#F0F0F0;color:#BCB8CE;">Today</td>
                    <td style="background:#F6F6F4;color:#000000;">{{bookings}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <div class="page_views" style="color: #eeeeee;font-size: 1.2em;">Total Page Views <span style="color:#B3CC34;font-size: 1.8em;padding-left:40px;">{{page_views}}</span></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">        
        <table class="dashboard">
            <thead>
                <tr>
                    <th>Offline</th>
                    <th>Online</th>
                </tr>
            </thead>
            <tbody class="border">
                <tr>
                    <td style="font-size:2.0em;color:#BCB8CE;">{{offline}}</td>
                    <td style="font-size:2.0em;color:#000000;">{{online}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="dashboard">
            <tbody class="border">
                <tr>
                    <td style="font-size:0.9em;">Logins</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{logins_percentage}} %</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{logins}}</td>
                </tr>
                <tr>
                    <td style="font-size:0.9em;">Orders</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{orders_percentage}} %</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{orders}}</td>
                </tr>
                <tr>
                    <td style="font-size:0.9em;">Abandoned Carts</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{abadoned_carts_percentage}} %</td>
                    <td style="color:#2CB49A;font-size:0.9em;float:center;">{{abadoned_carts}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">   
        {% for item in ads_count %}     
            <p>{{item.loc}} {{item.ads}}</p>
        {% endfor %}
    </div>

    <div class="col-md-6">
        <div class="block-section">            
            <div class="btn-toolbar">
                SALES
                <div class="btn-group" style="float:right;">
                    <button class="btn btn-default" id="by_week_btn">WEEK</button>
                    <button class="btn btn-default" id="by_location_btn">LOCATION</button>
               </div>
            </div>
        </div>
        <div id="sales-chart"></div>    
    </div>
</div>

<script>
$(document).ready(function(){
$("#by_week_btn").click(function(){
    $(this).addClass("active");
    $("#by_location_btn").removeClass("active");
    draw_all_bookings_chart();
});


$("#by_location_btn").click(function(){
    $(this).addClass("active");
    $("#by_week_btn").removeClass("active");
    draw_bookings_by_locations_chart();
});

//show by week on load
$("#by_week_btn").click();

function draw_revenues_chart(){
    var dates=[{% for date in revenues.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var data = [{% for count in revenues.total %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var count = [{% for count in revenues.count %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var options = {    
        chart: {
            renderTo:"revenues-chart",
            alignTicks:false,
            height:200                    
        },
        credits:{
            enabled:false,
        },
        title: {
            text: '',				
        },
        xAxis: {
            categories: dates
        },
        yAxis: [{
            title: {
                text:'Payments',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            floor:0,
            gridLineWidth:0
        }],
        tooltip:{
            formatter: function() {
                return  '<b>' + this.x +'</b><br><b>'+ this.y +'</b>';                
            }
        },
        series:[]        
    };   
         
    options.series.push({
        type:'column',
        color:'#FFA54F',	    
        name:'Total',
        data:data
    });

    options.series.push({
        type:'line',
        color:'#7F8DFF',	    
        name:'No. of Payments',
        data:count
    });
    
    var chart = new Highcharts.Chart(options);    
    return chart;
}

function draw_bookings_by_locations_chart(){
    var dates=[{% for date in booked_ads.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var data = [{% for count in booked_ads.total %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var options = {    
        chart: {
            renderTo:"sales-chart",
            alignTicks:false,
            height:200,
            backgroundColor: 'transparent',
        },
        legend: {
            enabled: false,
        },
        exporting:{
            enabled : false,
        },
        credits:{
            enabled:false,
        },
        title: {
            text: '',				
        },
        xAxis: {
            categories: dates
        },
        yAxis: {
            title: {
                text:'',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            labels: {
                enabled: false
            },
            floor:0,
            gridLineWidth:0,
            visible: false
        },
        tooltip:{
            formatter: function() {
                return  '<b>' + this.x +'</b><br><b>'+ this.y +'</b>';                
            }
        },
        series:[]        
    };   
         
    options.series.push({
        type:'column',
        color:'#B5CE33',	    
        name:'Total',
        data:data
    });
    
    
    var chart = new Highcharts.Chart(options);    
    return chart;
}

function draw_all_bookings_chart(){
    var dates=[{% for date in booked_ads.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var data = [{% for count in booked_ads.total %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var options = {    
        chart: {
            renderTo:"sales-chart",
            alignTicks:false,
            height:200,
            backgroundColor: 'transparent',
        },
        legend: {
            enabled: false,
        },
        exporting:{
            enabled : false,
        },
        credits:{
            enabled:false,
        },
        title: {
            text: '',				
        },
        xAxis: {
            categories: dates
        },
        yAxis: {
            title: {
                text:'',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            labels: {
                enabled: false
            },
            floor:0,
            gridLineWidth:0,
            visible: false
        },
        tooltip:{
            formatter: function() {
                return  '<b>' + this.x +'</b><br><b>'+ this.y +'</b>';                
            }
        },
        series:[]        
    };   
         
    options.series.push({
        type:'column',
        color:'#B5CE33',	    
        name:'Total',
        data:data
    });
    
    
    var chart = new Highcharts.Chart(options);    
    return chart;
}

});   
</script>

{% endblock %}


