{% extends "staff/template1.html" %}

{% block title %} Job Schedule {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li>
<li><a href="/staff/locations/">Locations</a></li> 
<li><a href="/staff/jobs/" class="active">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/jobs/print/"><i class="hi hi-print"></i><span class="sidebar-nav-mini-hide">Print Jobs</span></a>
</li>
<li>
    <a href="/staff/jobs/delivery/" class="active"><i class="fa fa-suitcase"></i><span class="sidebar-nav-mini-hide">Delivery Jobs</span></a>
</li>
<li>
    <a href="/staff/jobs/posting/"><i class="fa fa-paperclip"></i><span class="sidebar-nav-mini-hide">Posting Jobs</span></a>
</li>
<li>
    <a href="/staff/jobs/removal/"><i class="gi gi-remove_2"></i><span class="sidebar-nav-mini-hide">Removal Jobs</span></a>
</li>


{% endblock %}

{% block summary %}

<div class="form-group">
    <div class="col-md-16">
        <div class="input-group">
            <input type="text" id="search" name="search" class="form-control" placeholder="Search">  
                <span class="input-group-btn">
                    <button class="btn btn-effect-ripple btn-primary" type="button" style="overflow: hidden; position: relative;">
                        <i class="hi hi-search"></i>
                    </button>
                </span>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">My Tasks</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#D85245" data-track-color="#f9f9f9">
                <span><strong>{{my_tasks}}</strong></span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">Users Logged In</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#3CC3AE" data-track-color="#f9f9f9">
                <span><strong>{{users_logged}}</strong></span>
            </div>
        </div>
    </div>
</div>

<div class="row">    
    <div class="form-group">
        <label class="col-sm-6 control-label" for="example-input-small" style="font-weight:normal;">Users Logged In</label>
        <div class="col-sm-5" style="float:right !important;">
            <div class="pie-chart" data-percent="100" data-line-width="3" data-bar-color="#B4CE2B" data-track-color="#f9f9f9">
                <span><strong>{{users_logged}}</strong></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<h2>D-{{current_loc | stringformat:".2s"}}-{{day}}-{{month}}-{{year}}</h2>
<div class="row">
    <form action="/staff/jobs/delivery/" method="post">
    {% csrf_token %}
        <div class="form-group">
            <div class="col-md-3">
                <select class="form-control ui-wizard-content" id="location" name="location">
                    {% for loc in locations %}
                        {% if loc == current_loc %}
                            <option value="{{loc.id}}" selected>{{loc.name}}</option>
                        {% else %}
                            <option value="{{loc.id}}">{{loc.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>    

            <div class="col-md-3">
                <input type="text" name="date" id="date" placeholder="Date"  class="form-control ui-wizard-content dates">
            </div>

            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="submit" id="Show_Jobs">Show Jobs</button>
            </div>

        </div>
    </form>
</div>

<div class="row">
    <table class="batch">
        <thead>
            <tr>
                <th colspan="2" style="background:#63B005;color:#fff;">Delivery Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background:#EEECEE;">Latest Delivery time</td>
                <td style="background:#F8F8F5;">{{date}} 8.00am</td>
                <td style="background:#EEECEE;">Location</td>
                <td style="background:#F8F8F5;">{{current_loc}}</td>
            </tr>
            <tr>
                <td style="background:#EEECEE;">Actual Delivery time</td>
                <td style="background:#F8F8F5;">Pending</td>
                <td style="background:#EEECEE;">Total ADs</td>
                <td style="background:#F8F8F5;">{{count}}</td>
            </tr>
            <tr>
                <td style="background:#EEECEE;">Responsible</td>
                <td style="background:#F8F8F5;">{{responsible}}</td>
                <td style="background:#EEECEE;">Status</td>
                <td style="background:#F8F8F5;">N/A{{status}}</td>
            </tr>
            <tr>
                <td style="background:#282828;color:#fff;">Threshold</td>
                <td colspan="2" style="background:#404042;color: #fff;">{{threshold}} Days Left</td>
                <!--td><i class="hi hi-print"></i> Print</td-->
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <table class="table table-condensed" style="border-collapse:collapse;">
        <thead></thead>
        <tbody>
            {% for item in ads_by_size.children %}
                <tr data-toggle="collapse" data-target="#item_{{forloop.counter}}" class="accordion-toggle">                
                    <td>{{item.size}} - {{item.type}}</td>
                    <td><div class="numberCircle">{{item.number}}</div></td>
                    <td>Status</td>
                    <td>Awaiting</td>
                </tr>
                <tr>
                    <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id="item_{{forloop.counter}}"> 
                    <table class="table table-striped">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th>AD ID</th>
                                <th>BOOKING REF</th>
                                <th>CUSTOMER</th>
                                <!--th>INVOICE NUMBER</th>
                                <th></th-->
                            </tr>
                          </thead>                      
                          <tbody>
                              {% for it in item.ads %}
                              <tr>
                                    <td>AD-{{it.advert.id|stringformat:"05d"}}</td>
                                    <td>B{{it.id|stringformat:"05d"}}</td>
                                    <td>{{it.advert.user.first_name}} {{it.advert.user.last_name}}</td>
                                    <!--td></td>
                                    {% if forloop.first %}
                                        <td rowspan="3"><i class="hi hi-print"></i><br>Print this list</td>
                                    {% endif %}-->
                               </tr>
                              {% endfor %}
                              
                          </tbody>
                                
                   	</table>
                  
                  </div> </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>

</div>

<script>
$(document).ready(function(){
    $(".dates").datepicker();
    $(".dates").datepicker( "option", "dateFormat", "yy-mm-dd" );

});   
</script>

{% endblock %}


