<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>ADLink | Reset Password</title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="/static/appui/img/favicon.png">
        <link rel="apple-touch-icon" href="/static/appui/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/static/appui/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/static/appui/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/static/appui/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/static/appui/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/static/appui/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/static/appui/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/static/appui/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <link rel="stylesheet" href="/static/appui/css/bootstrap.min.css">

        <!-- Related styles of various icon packs and plugins -->
        <link rel="stylesheet" href="/static/appui/css/plugins.css">

        <!-- The main stylesheet of this template. All Bootstrap overwrites are defined in here -->
        <link rel="stylesheet" href="/static/appui/css/main.css">

        <!-- Include a specific file here from css/themes/ folder to alter the default theme of the template -->

        <!-- The themes stylesheet of this template (for using specific theme color in individual elements - must included last) -->
        <link rel="stylesheet" href="/static/appui/css/themes.css">
        <!-- END Stylesheets -->

        <!-- Modernizr (browser feature detection library) -->
        <script src="/static/appui/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- Login Container -->
        <div id="login-container">
            <!-- Login Header -->
            <h1 class="h2 text-light text-center push-top-bottom animation-slideDown">
                <i class="fa fa-cube"></i> <strong>ADLink Administration</strong>
            </h1>
            <!-- END Login Header -->

            <!-- Login Block -->
            <div class="block animation-fadeInQuickInv">
                <!-- Login Title -->
                <div class="block-title">
                    <!--div class="block-options pull-right">
                        <a href="page_ready_reminder.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Forgot your password?"><i class="fa fa-exclamation-circle"></i></a>
                        <a href="page_ready_register.html" class="btn btn-effect-ripple btn-primary" data-toggle="tooltip" data-placement="left" title="Create new account"><i class="fa fa-plus"></i></a>
                    </div-->
                    <h2>Please Login</h2>
                </div>
                <!-- END Login Title -->

                <!-- Login Form -->
                <form id="form-pass-reset" action="/staff/password/reset/" name="pass-reset" method="post" class="form-horizontal">
                    {% csrf_token %}
                    <span class="notification">{{reset_error}}</span>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input type="text" name="username" id="username" class="form-control" placeholder="Your email or username..">
                        </div>
                    </div>
                    <div class="form-group form-actions">                        
                        <div class="col-xs-4 text-right">
                            <button type="submit" class="btn btn-effect-ripple btn-sm btn-primary"><i class="fa fa-check"></i> Reset Password</button>
                        </div>
                    </div>
                </form>
                <a href="/staff/forgot/">Forgot Password?</a>
                <!-- END Login Form -->
            </div>
            <!-- END Login Block -->

            <!-- Footer -->
            <footer class="text-muted text-center animation-pullUp">
                <small>&copy; 2015 ADLink 1.0</a></small>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- END Login Container -->

        <!-- Include Jquery library from Google's CDN but if something goes wrong get Jquery from local file (Remove 'http:' if you have SSL) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));</script-->

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="/static/appui/js/vendor/bootstrap.min.js"></script>
        <script src="/static/appui/js/plugins.js"></script>
        <script src="/static/appui/js/app.js"></script>

        <!-- Load and execute javascript code used only in this page -->
        <!--script src="/static/appui/js/pages/readyLogin.js"></script-->
        <!--script>$(function(){ ReadyLogin.init(); });</script-->
    </body>
</html>
