{% extends "users/base.html" %}
{% block content %}

<div class="top_bar">
    <table class="login_tb">
      <tr><td colspan="3" class="notification" id="login_form_notification"></td></tr>
      <tr>
        <td><label>Email or Phone</label></td>
        <td><label>Password</label></td>
      </tr>
      <tr>
        <td><input type="text" name="username" id="username"></td>
        <td><input type="password" name="password" id="password"></td>
        <td><input type="submit" name="Login" value="Login" id="Login" class="button medium save green inline"></td>
      </tr>
      <tr>
        <td><input type="checkbox"><span class="mini_label"><label>Keep me logged in</label></span></input></td>
        <td><a href='/user/forgot_password/'><span class="mini_label">Forgot Password?</span></a></td>
      </tr>
    </table>
</div>
<div class="bottom_bar">
    <div class="left_col">
        
    </div>
    <div class="right_col">
        <div class="register_form">
            <table class="register_form_tb">
                <tr><td colspan="3"><h2>Sign Up</h2></td></tr>
                <tr><td id="register_form_notification" colspan="3" class="notification"></td></tr>
                <tr>
                  <td><input type="text" placeholder="First name" name="register_first_name" id="register_first_name"></td>
                  <td><input type="text" placeholder="Last name" name="register_last_name" id="register_last_name"></td>                  
                </tr>
                <tr><td colspan="2"><input type="text" placeholder="Email Address" name="register_email_address" id="register_email_address"></td><tr>
                <tr><td colspan="2"><input type="text" placeholder="Mobile Number" name="register_mobile_number" id="register_mobile_number"></td><tr>
                <tr><td colspan="2"><input type="password" placeholder="Password" name="register_password" id="register_password"></td></tr>
                <tr>
                    <td align="justify" colspan="2">
                        <label><input type="password" placeholder="Confirm password" name="register_confirm_password" id="register_confirm_password" style="float:left;"><span class="wrong_pass"><i class="fa fa-times fa-2x"></i></span>
                        <span class="correct_pass"><i class="fa fa-check fa-2x"></i></span></label>
                    </td>
                </tr>
                <tr><td colspan="3" class="horizontal_line"><input type="submit" value="Sign Up" name="SignUp" id="SignUp" class="button large save green inline"></td><tr>
            </table>
        </div>       
        <div class="social_logins_form">
            <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}"><i class="fa fa-google"></i> Sign in with Google</a>
            <a class="btn btn-block btn-social btn-facebook" href="{% url 'social:begin' 'facebook' %}"><i class="fa fa-facebook"></i> Sign in with Facebook</a>
            <a class="btn btn-block btn-social btn-yahoo" href="{% url 'social:begin' 'yahoo' %}"><i class="fa fa-yahoo"></i> Sign in with Yahoo</a>
        </div> 
        <div class="checklist" style="margin-top:30px;">
            <p><i class="fa fa-check-square-o fa-lg"> BOOK YOUR NOTICEBOARD ADS</i></p>
            <p><i class="fa fa-check-square-o fa-lg"> BOOK YOUR NEWSPAPER ADS</i></p>
            <p><i class="fa fa-check-square-o fa-lg"> BOOK YOUR MAGAZINE ADS</i></p>
        </div>
    </div>            
    <div class="clearfix">        
        <p><i class="fa fa-circle-o"></i> ABOUT US</p>
        <p><i class="fa fa-circle-o"></i> HOW ADLINK WORKS</p>    
    </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#register_mobile_number").intlTelInput({
        'allowExtensions':false,
        'autoformat':true,
        'autoPlaceholder':false,
        'defaultCountry':"KE",
        'nationalMode':true,
        'utilsScript':"/static/telinput/lib/libphonenumber/build/utils.js",
    });

    //login form
    $("#Login").click(function(){
        var username = $.trim($("#username").val());
        var password = $.trim($("#password").val());

        if(username == "" || password == ""){
            $("#login_form_notification").html("Please enter your username and password.");
        }
        else{
            $.ajax({
                url:'/login/user/',
                type:'POST',
                data:{
                    'username':username,
                    'password':password,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success:function(response){
                    if(response == "fail"){
                        $("#login_form_notification").html("You have entered the wrong login credentials. Please try again.");
                    }
                    else if(response == "disabled"){
                        $("#login_form_notification").html("Your account has been disabled.");
                    }
                    else{
                        window.location = "/user/profile/";
                    }
                }
            });
        }
    });

    //sign up
    $("#SignUp").click(function(){
        var isValid = $("#register_mobile_number").intlTelInput("isValidNumber");
        var country = $("#register_mobile_number").intlTelInput("getSelectedCountryData").name;
        var phone = $("#register_mobile_number").intlTelInput("getNumber");
        var first_name = $.trim($("#register_first_name").val());
        var last_name = $.trim($("#register_last_name").val());
        var email_address = $.trim($("#register_email_address").val());
        var mobile_number = $.trim($("#register_mobile_number").val());
        var password = $.trim($("#register_password").val());
        var confirm_password = $.trim($("#register_confirm_password").val());

        if(first_name == "" || last_name == "" || password == "" || confirm_password ==""){
            $("#register_form_notification").html("Please fill in all fields.");
        }
        else if(mobile_number == "" && email_address == ""){
            $("#register_form_notification").html("Enter either a mobile number or email address.");
        }
        else if(password != confirm_password){
            $("#register_form_notification").html("The two passwords do not match.");
        }        
        else if(mobile_number != "" && isValid == false){
            $("#register_form_notification").html("Enter a valid phone number.");
        }
        else if(email_address != "" && !validateEmail(email_address)){
            $("#register_form_notification").html("Enter a valid email address.");
        }

        else{
            $.ajax({
                url:'/register/user/',
                type:'POST',
                data:{
                    'first_name':first_name,
                    'last_name':last_name,
                    'email_address':email_address,
                    'mobile_phone':phone,
                    'password':password,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                beforeSend: function(){
                    $("#SignUp").val("Signing...");
                },
                success:function(response){
                    $("#register_form_notification").html(response);
                    $("#SignUp").val("Sign Up");
                }
            });
        }
    });

    function checkPasswordMatch() {
        var password = $("#register_password").val();
        var confirmPassword = $("#register_confirm_password").val();

        if (password != confirmPassword){
            $(".correct_pass").css("display","none");
            $(".wrong_pass").css("display","block");
        }

        else{
            $(".wrong_pass").css("display","none");
            $(".correct_pass").css("display","block");
        }
    }

    //check password match
    $("#register_confirm_password").keyup(checkPasswordMatch);
});

</script>

{% endblock %}

{% block footer %}



{% endblock %}


