{% extends "staff/template1.html" %}

{% block title %} Inventory {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/" class="active">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<!--li>
    <a href="/staff/inventory/" class="active"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Inventory</span></a>
</li>
<li>
    <a href="/staff/inventory/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Inventory</span></a>
</li-->

{% endblock %}

{% block content %}
<div class="row">
    <form action="/staff/inventory/" method="POST" class="filter-form">
        {% csrf_token %}
        <div class="form-group">            
            <div class="col-md-5">
                <select name="location_id" id="location_id" class="form-control">{% for loc in locations %}{% if loc == current_location %}<option value="{{loc.id}}" selected>{{loc.name}}</option>{% else %}<option value="{{loc.id}}">{{loc.name}}</option>{% endif %}{% endfor %}</select>
            </div> 
            <div class="col-md-3">
                <button class="btn btn-block btn-primary" type="submit" id="Change">Change</button>
            </div>            
        </div>
    </form>
</div>

<h2>{{current_location.name}} - Manage Inventory</h2>

<table class="table table-striped table-bordered table-vcenter index">
    <thead>
        <tr>
            <th style="background:#B3CA30;color:#fff;">Label</th>
            <th style="background:#69AC0B;color:#fff;">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for sec in sections %}
        <tr>
            <td>{{sec.label}}</td>
            <td><a href="/staff/inventory/add/{{sec.id}}/">Add Inventory</a> | <a href="/staff/inventory/view/{{sec.id}}/">View Inventory</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script-->

{% endblock %}
