{% extends "staff/template1.html" %}

{% block title %} Transactions {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/" class="active">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/transactions/payments/"><i class="gi gi-coins"></i><span class="sidebar-nav-mini-hide">Payments</span></a>
</li>
<li>
    <a href="/staff/transactions/invoices/"><i class="fa fa-file-text-o"></i><span class="sidebar-nav-mini-hide">Invoices</span></a>
</li>

{% endblock %}



{% block content %}  
<!-- Invoice Block -->
<div class="block">
    <!-- Invoice Title -->
    <div class="block-title">
        <h2>Invoice <small>#INV{{invoice.id|stringformat:"04d"}}</small></h2>
    </div>
    <!-- END Invoice Title -->

    <!-- Invoice Info -->
    <div class="row block-section">
        <!-- Company Info -->
        <div class="col-sm-4 col-lg-3">
            <div class="well">
                <img src="/static/custom/img/logo_small.png">
                <address>
                    wecare@adlink.co.ke<br>
                    1st Floor Yaya Center, Argwins Kodhek RD, Nairobi<br>
                    <br>
                    <i class="fa fa-phone"></i> (254) 726518586
                </address>
            </div>
        </div>
        <!-- END Company Info -->

        <!-- Client Info -->
        <div class="col-sm-4 col-sm-offset-4 col-lg-3 col-lg-offset-6 text-right">
            <div class="well">
                <!--{% if invoice.advert.user.user_profile.profile_image == None %}
                    <img src="/static/custom/img/avatar-blank.jpg" style="display: table-cell;"> 
                {% else %}
                    <img src="/media/{{invoice.advert.user.user_profile.profile_image}}" style="display: table-cell;"> 
                {% endif %}-->
                <h4><strong>{{invoice.advert.user.first_name}} {{invoice.advert.user.last_name}}</strong></h4>
                <address>
                    {% if invoice.advert.user.email != None or invoice.advert.user.email != "" %}<i class="fa fa-envelope"></i>{{invoice.advert.user.email}}{% endif %}<br>
                    {% if invoice.advert.user.user_profile.phone_number == None or invoice.advert.user.user_profile.phone_number == "" %}{% else %}<i class="fa fa-phone"></i> {{invoice.advert.user.user_profile.phone_number}}{% endif %}
                </address>
            </div>
        </div>
        <!-- END Client Info -->
    </div>
    <!-- END Invoice Info -->

    <!-- Message -->
    <div class="alert alert-success text-center">
        <h2><strong>Thank you for your business <i class="fa fa-smile-o"></i></strong></h2>
        <p>We will be happy to work together again in the future!</p>
    </div>
    <!-- END Message -->

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped table-hover table-borderless table-vcenter">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h4>{{invoice.advert.title}}</h4></td>
                    <td><h4>{{invoice.advert.description}}</h4>{{invoice.advert.size}}/{{invoice.advert.orientation}}</td>
                    <td><h4>{{invoice.advert.category}}</h4></td>
                    <td><span class="label label-success"><strong>x{{total}}</strong></span></td>
                    <td>{{invoice.advert.grand_price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- END Table -->
</div>
<!-- END Invoice Block -->

{% endblock%}
