{% extends "staff/template1.html" %}

{% block title %} Locations {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/" class="active">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block summary %}

<h4 class="inner-sidebar-header">Location Stats</h4>
<table class="fancy_table">
    <tr><td colspan="2"><label>Locations:</label> <span class="summary_locations">--</span></td></tr>
    <tr><td colspan="2"><label>Sections:</label><span class="summary_sections"></span></td></tr>
</table>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-globe"></i><span class="sidebar-nav-mini-hide">Locations</span></a>
    <ul>
        <li><a href="/staff/locations/" class="active"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Locations</span></a></li>
        <li><a href="/staff/locations/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Location</span></a></li>
    </ul>
</li>

<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items"></i><span class="sidebar-nav-mini-hide">Sections</span></a>
    <ul>
        <li><a href="/staff/sections/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Sections</span></a></li>
        <li><a href="/staff/sections/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Section</span></a></li>
    </ul>
</li>

{% endblock %}

{% block content %}

<div class="block full">
    <div class="block-title">
        <h2>All Locations</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter index">
            <thead>
                <tr>
                    <th style="background:#B3CA30;color:#fff;"></th>
                    <th style="background:#69AC0B;color:#fff;">Location</th>
                    <th style="background:#51D1B5;color:#fff;">Tax Rate</th>
                    <th style="background:#3DAC95;color:#fff;">Currency</th>
                    <th style="background:#434B56;color:#fff;">Action</th></tr>
            </thead>
            <tbody class="locations_list">
                {% for location in locations %}                
                <tr  class='location_tr_{{location.id}}'>
                    <td><img src="{% if location.logo == '' %}{% else %}/media/{{location.logo}}{% endif %}" width="30px" height="30px"></td>
                    <td>{{location.name}}</td>
                    <td>{{location.tax_rate}}</td>
                    <td>{{location.currency}}</td>
                    <td><!--a href="/staff/locations/{{location.id}}/">Manage Sections</a> |--> <a href="/staff/locations/edit/{{location.id}}/">Edit</a> | <a href='javascript:void(0);' class='delete_location' location-id="{{location.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
$(document).ready(function(){    
    //delete a location
    $(document).on("click",".delete_location", function(){    
        var location_id = $(this).attr('location-id');   
        $.ajax({
            url:"/staff/locations/delete/",
            type:'POST',
            data:{
                'location_id':location_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            success:function(data){
                if(data == "deleted"){
                    $('.location_tr_'+location_id).remove();
                }
            }         
        });
    });
});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
