{% extends "staff/template1.html" %}

{% block title %} Personnel {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/" class="active">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block summary %}
<h4 class="inner-sidebar-header">Personnel Stats</h4>
<table class="fancy_table">
    <tr><td colspan="2"><label>Active: </label> <span class="summary_complete_ads">--</span></td></tr>
    <tr><td colspan="2"><label>Inactive: </label><span class="summary_incomplete_ads"></span></td></tr>
</table>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/personnel/" class="active"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Personnel</span></a>
</li>
<li>
    <a href="/staff/personnel/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Personnel</span></a>
</li>

{% endblock %}

{% block content %}
<div class="block full">
    <div class="block-title">
        <h2>All Personnel</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter index">
            <thead>
                <th style="background:#B3CA30;color:#fff;">Name</th>
                <th style="background:#69AC0B;color:#fff;">Email Address</th>
                <th style="background:#51D1B5;color:#fff;">Mobile Number</th>
                <th style="background:#3DAC95;color:#fff;">Active</th>
                <th style="background:#434B56;color:#fff;">Action</th>
            </thead>
            <tbody>
                {% for item in personnel_list %}
                    <tr  class='personnel_tr_{{item.personnel.id}}'>                    
                        <td>{{item.personnel.first_name}} {{item.personnel.last_name}}</td>
                        <td>{{item.personnel.email}}</td>
                        <td>{{item.phone_number}}</td>
                        <td>{{item.personnel.is_active}}</td>
                        <td><a href="/staff/users/edit/{{item.personnel.id}}/">Edit</a> | <a href='javascript:void(0);' class='delete_personnel' personnel-id="{{item.personnel.id}}">Delete</a></td>
                    </tr>
                {% endfor %}            
            </tbody>
        </table>
    </div>
</div>
<script>
$(document).ready(function(){

    //delete a personnel
        $(document).on("click",".delete_personnel",function(){    
            var personnel_id = $(this).attr('personnel-id');   
            $.ajax({
                url:"/staff/personnel/delete/",
                type:'POST',
                data:{
                    'user_id':personnel_id,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success:function(data){
                    if(data == "deleted"){
                        $('.personnel_tr_'+personnel_id).remove();
                    }
                }         
            });
        });

});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
