{% extends "users/user_template.html" %}

{% block title %} MY PROFILE {% endblock %}

{% block header_link_icon %} <i class="gi gi-user sidebar-nav-icon"></i> {% endblock %}

{% block header_link %} <a href=""><strong><span id="user_name">{{user.first_name}} {{user.last_name}}</span></strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/" class="active"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 

{% endblock %}

{% block summary %}
<!--h4 class="inner-sidebar-header">Dashboard</h4>
Add something here-->
{% endblock %}

{% block content %}
<div class="row">
    <table width="100%">
    <tr>    
        <td>
            <div class="col-md-4">
                <div class="panel_body">
                    <div class="profile_avatar">
                        <a class="btn"><i class="fa fa-camera"></i> Change</a>
                    </div>
                </div> 
            </div>
        </td>    
        <td width="50%">    
            <span class="notification" id="profile_notification"></span>
            <form>
                {% csrf_token %}
                <label>First Name</label> <input type="text" name="first_name" id="first_name" placeholder="First Name" value="{{user.first_name}}" class="form-control">
                <label>Last Name</label> <input type="text" name="last_name" id="last_name" placeholder="Last Name" value="{{user.last_name}}" class="form-control">
                <label>Email Address</label> <input type="text" name="email_address" id="email_address" placeholder="Email Address" value="{{user.email}}" class="form-control">
                <label>Mobile Number</label> <input type="text" name="mobile_number" id="mobile_number" placeholder="Phone Number" value="{{profile.phone_number}}" class="form-control" width="500px">         
                <button class="btn btn-info" id="Edit_Profile" onclick="return false;">Edit Profile</button>
            </form>
        </td>
    </tr>
    </table>           
</div>

<script type="text/javascript">
$(document).ready(function(){
    $("#mobile_number").intlTelInput({
        'allowExtensions':true,
        'autoformat':true,
        'autoPlaceholder':true,
        'defaultCountry':"KE",
        'nationalMode':true,
        'utilsScript':"/static/telinput/lib/libphonenumber/build/utils.js",
    });
    $("#add_network").click(function(){
        $(".add_social_account").css("display","block");
    });
    
    $("#Edit_Profile").click(function(){
        $("#profile_notification").html("");

        var first_name = $.trim($("#first_name").val());
        var last_name = $.trim($("#last_name").val());
        var email_address = $.trim($("#email_address").val());
        var mobile_number = $.trim($("#mobile_number").val());
        var isValid = $("#mobile_number").intlTelInput("isValidNumber");
        var phone_number = $("#mobile_number").intlTelInput("getNumber");

        if(first_name == ""|| last_name ==""){
            $("#profile_notification").html("Provide your first and last name.");
        }
        else if(email_address == "" && mobile_number == ""){
            $("#profile_notification").html("Enter either your email address or phone number.");
        }
        else if(email_address != "" && !validateEmail(email_address)){
            $("#profile_notification").html("Your email address is invalid.");
        }
        else if(mobile_number != "" && !isValid){
            $("#profile_notification").html("Your mobile number is invalid.");
        }
        else{
            $.ajax({
                url: "/user/profile/edit/",
                type: "POST",
                data:{
                    "first_name": first_name,
                    "last_name": last_name,
                    "email_address": email_address,
                    "phone_number": phone_number,
                    "csrfmiddlewaretoken": "{{csrf_token}}"
                },
                beforeSend: function(){
                    $("#Edit_Profile").html("Editing <i class='fa fa-asterisk fa-2x fa-spin text-danger'></i>");
                },
                success: function(response){
                    $("#Edit_Profile").html("Edit Profile")
                    if(response == "error"){
                        $("#profile_notification").html("There was an error editing your profile. Please try again.");
                    }
                    else{
                        $("#first_name").val(first_name);
                        $("#last_name").val(last_name);
                        $("#email_address").val(email_address);
                        $("#mobile_number").val(mobile_number);
                        $("#user_name").text(first_name+ " "+last_name);

                        $("#profile_notification").html("Your profile has been edited successfully.");
                    }
                }
            });
        }

    });
});
</script>
{% endblock%}
