{% extends "staff/template1.html" %}

{% block title %} Sections {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/" class="active">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}


{% block navigation_links %}
<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-globe"></i><span class="sidebar-nav-mini-hide">Locations</span></a>
    <ul>
        <li><a href="/staff/locations/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Locations</span></a></li>
        <li><a href="/staff/locations/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Location</span></a></li>
    </ul>
</li>

<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items"></i><span class="sidebar-nav-mini-hide">Sections</span></a>
    <ul>
        <li><a href="/staff/sections/" class="active"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Sections</span></a></li>
        <li><a href="/staff/sections/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Section</span></a></li>
    </ul>
</li>

{% endblock %}

{% block content %}
<div class="block full">
    <div class="block-title">
        <h2>All Sections</h2> 
        <select id="locations" name="locations" style="float:right;">
            <option value="">All Locations</option>
            {% for loc in locations %}
                <option value="{{loc.id}}">{{loc.name}}</option>
            {% endfor %}
        </select>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-vcenter index">
            <thead>
                <tr>
                    <th style="background:#B3CA30;color:#fff;"></th>
                    <th style="background:#69AC0B;color:#fff;">Label</th>
                    <th style="background:#51D1B5;color:#fff;">Location</th>
                    <th style="background:#3DAC95;color:#fff;">Shape</th>
                    <th style="background:#434B56;color:#fff;">Dimensions</th>
                    <th style="background:#000000;color:#fff;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sect in sections %}
                <tr>
                    <td><img src="{% if sect.image == '' %}{% else %}/media/{{sect.image}}{% endif %}" width="30px" height="30px"></td>
                    <td>{{ sect.label }}</td>
                    <td>{{ sect.location }}</td>
                    <td>{{ sect.shape }}</td>
                    <td>{{ sect.dimensions }}</td>
                    <td><a href="/staff/sections/{{sect.id}}">Manage Spaces</a> | <a href="">Edit</a> | <a href="">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
