{% extends 'staff/template1.html' %}

{% block title %} Manage Spaces {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/" class="active">Locations</a></li> 
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-globe"></i><span class="sidebar-nav-mini-hide">Locations</span></a>
    <ul>
        <li><a href="/staff/locations/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Locations</span></a></li>
        <li><a href="/staff/locations/add/form/"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Location</span></a></li>
    </ul>
</li>

<li>
    <a href="#" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-more_items"></i><span class="sidebar-nav-mini-hide">Sections</span></a>
    <ul>
        <li><a href="/staff/locations/"><i class="gi gi-eye_open"></i><span class="sidebar-nav-mini-hide">View Sections</span></a></li>
        <li><a href="/staff/locations/add/form/" class="active"><i class="hi hi-plus"></i><span class="sidebar-nav-mini-hide">Add Section</span></a></li>
    </ul>
</li>

{% endblock %}

{% block content %}

<div class="block full">
    <div class="block-title">
        <h1>{{section.location.name}} - {{section.label}}</h1><br>
        <h2>Add New Space</h2>
    </div>
    <form id="add_space_form">
        {% csrf_token %}
        <input type="hidden" name="section" id="section" value="{{section.id}}">
        <div class="row">
            <label for="name" class="col-md-1 control-label"></label>
            <span class="notification add_space_form_notification"></span>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="space_label" class="col-md-1 control-label">Label</label>
                    <div class="col-md-3">
                        <input type="text" placeholder="" class="form-control ui-wizard-content" name="space_label" id="space_label">
                    </div>

                <label for="space_row" class="col-md-1 control-label">Row</label>
                    <div class="col-md-3">
                        <input type="text" placeholder="" class="form-control ui-wizard-content" name="space_row" id="space_row">
                    </div>
                <label for="space_col" class="col-md-1 control-label">Column</label>
                    <div class="col-md-3">
                        <input type="text" placeholder="" class="form-control ui-wizard-content" name="space_col" id="space_col">
                    </div>
            </div>
        </div>

        <div class="row">

            <div class="form-group">
                <label for="space_row" class="col-md-2 control-label">Orientation</label>
                    <div class="col-md-2">
                        <select id="orientation" name="orientation">{% for item in orientation %}<option value="{{item.0}}">{{item.1}}</option>{% endfor %}</select>
                    </div>
                <label for="space_col" class="col-md-1 control-label">Size</label>
                    <div class="col-md-1">
                        <select id="size" name="size"><option value="A4">A4</option><!--{% for item in sizes %}<option value="{{item.0}}">{{item.1}}</option>{% endfor %}--></select>
                    </div>
            </div>
            
        </div>

        <div class="row">
                <label class="col-md-10 control-label"></label>
                <div class="form-group">
                    <div class="col-md-2">
                        <button class="btn btn-info" type="button" id="AddSpace" onclick="return false;">Add Space</i></button>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <div class="table-responsive">
        <table  class="table table-striped table-bordered table-vcenter index">
            <thead>
                <tr>
                    <th style="background:#B3CA30;color:#fff;">Label</th>
                    <th style="background:#69AC0B;color:#fff;">Size</th>
                    <th style="background:#51D1B5;color:#fff;">Orientation</th>
                    <th style="background:#3DAC95;color:#fff;">Row</th>
                    <th style="background:#434B56;color:#fff;">Column</th>
                    <th style="background:#000000;color:#fff;">Action</th>
                </tr>
            </thead>
            <tbody class="spaces_list">
                {% for space in spaces %}
                <tr  class='space_tr_{{item.space.id}}'>
                    <td>{{space.space_label}}</td>
                    <td>{{space.size}}</td>
                    <td>{{space.orientation}}</td>
                    <td>{{space.row}}</td>
                    <td>{{space.col}}</td>
                    <td>
                        <a href="/staff/spaces/edit/{{space.id}}/">Edit</a> | 
                        <a href="javascript:void(0);" class="delete_space" space-id="{{space.id}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

<script type="text/javascript">

$(document).ready(function(){

    $("#AddSpace").click(function(){
        $(".add_space_form_notification").html("");

        var space_label = $.trim($("#space_label").val());
        var space_row = $.trim($("#space_row").val());
        var space_col = $.trim($("#space_col").val());
        var orientation = $.trim($("#orientation").val());
        var size = $.trim($("#size").val());
        var section = $.trim($("#section").val());

        if(space_label == "" || space_row == "" || space_col == ""){
            $(".add_space_form_notification").html("Please enter a valid label, row and column number.");
        }
        else{
            $.ajax({
                url:'/staff/spaces/add/',
                type: 'POST',
                data:{
                    'space_label': space_label,
                    'space_row':space_row,
                    'space_col':space_col,
                    'orientation': orientation,
                    'size': size,
                    'section': section,
                    'csrfmiddlewaretoken': '{{csrf_token}}'

                },
                beforeSend: function(){
                },
                success: function(response){
                    if(response == "success"){
                        $(".add_space_form_notification").html("Space added successfully");
                        location.reload();
                    }
                    else if(response == "exists"){
                        $(".add_space_form_notification").html("The entered row and column space already exists in this section.");
                    }
                    else{
                        $(".add_space_form_notification").html("An error has occured: "+response);
                    }
                }
            });
        }
    });

    //delete a space
        $(document).on("click",".delete_space",function(){    
            var space_id = $(this).attr('space-id');   
            $.ajax({
                url:"/staff/spaces/delete/",
                type:'POST',
                data:{
                    'space_id':space_id,
                    'csrfmiddlewaretoken':'{{csrf_token}}'
                },
                success:function(data){
                    if(data == "deleted"){
                        $('.space_tr_'+space_id).remove();
                    }
                }         
            });
        });

});
</script>


<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>

{% endblock %}
