<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>ADlink | {% block title %} {% endblock %}</title>

        <meta name="description" content="ADlink is an online advertising platform">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">

        <!-- Icons -->
        <link rel="shortcut icon" href="/static/appui/img/favicon.png">
        <link rel="apple-touch-icon" href="/static/appui/img/icon57.png" sizes="57x57">
        <link rel="apple-touch-icon" href="/static/appui/img/icon72.png" sizes="72x72">
        <link rel="apple-touch-icon" href="/static/appui/img/icon76.png" sizes="76x76">
        <link rel="apple-touch-icon" href="/static/appui/img/icon114.png" sizes="114x114">
        <link rel="apple-touch-icon" href="/static/appui/img/icon120.png" sizes="120x120">
        <link rel="apple-touch-icon" href="/static/appui/img/icon144.png" sizes="144x144">
        <link rel="apple-touch-icon" href="/static/appui/img/icon152.png" sizes="152x152">
        <link rel="apple-touch-icon" href="/static/appui/img/icon180.png" sizes="180x180">
        <!-- END Icons -->

        <!-- Stylesheets -->
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/appui/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/appui/css/plugins.css">
        <link rel="stylesheet" href="/static/appui/css/main.css">
        <link rel="stylesheet" href="/static/appui/css/themes.css">
        <link rel="stylesheet" href="/static/appui/css/style.css">

        <!-- Modernizr (browser feature detection library) -->
        <!--script src="/static/appui/js/vendor/modernizr-2.8.3.min.js"></script-->

                <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <!--script>!window.jQuery && document.write(decodeURI('%3Cscript src="js/vendor/jquery-2.1.1.min.js"%3E%3C/script%3E'));</script-->

        <!-- Bootstrap.js, Jquery plugins and Custom JS code -->
        <script src="/static/appui/js/vendor/bootstrap.min.js"></script>
        <script src="/static/appui/js/plugins.js"></script>
        <script src="/static/appui/js/app.js"></script>

        <!-- Google Maps API + Gmaps Plugin, must be loaded in the page you would like to use maps (Remove 'http:' if you have SSL) >
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
        <script src="/static/appui/js/plugins/gmaps.min.js"></script>

        <!-- Load and execute javascript code used only in this page >
        <script src="/static/appui/js/pages/appSocial.js"></script>
        <script>$(function(){ AppSocial.init(); });</script-->

        <!--script type="text/javascript" src="/static/custom/js/jquery-2.1.4.js"></script-->
        <script src="/static/custom/js/jquery-ui.js"></script>
        <link rel="stylesheet" href="/static/custom/css/jquery-ui.css">

        <!--FOR INTERNATIONAL PHONE NUMBERS -->
        <link rel="stylesheet" href="/static/telinput/intlTelInput.css">
        <script src="/static/telinput/intlTelInput.min.js"></script>
        <!--END PNUMBERS -->
        <!-- for bootstrap file input plugin -->
        <link href="/static/bootstrap-fileinput/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />        
        <script src="/static/bootstrap-fileinput/js/fileinput.js" type="text/javascript"></script>
        <script src="/static/bootstrap-fileinput/js/fileinput_locale_uk.js" type="text/javascript"></script>
        <script src="/static/bootstrap-fileinput/js/filepreview.js" type="text/javascript"></script>
        <script src="/static/custom/js/common_functions.js"></script>
        <!--end bootstrap file input --> 

        <!--HIGHCHARTS LIB-->
        <script src="/static/highcharts/highcharts.js"></script>
        <script src="/static/highcharts/exporting.js"></script>
        <!--END HIGHCHARTS-->

        
    </head>
    <body>        
        <div id="page-wrapper" class="page-loading">            
            <div class="preloader">
                <div class="inner">
                    <div class="preloader-spinner themed-background hidden-lt-ie10"></div>
                    <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
                </div>
            </div>
            <div id="page-container" class="header-fixed-top sidebar-visible-lg-full">
                <!-- Alternative Sidebar -->
                <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
                    <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
                    <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll-alt">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Profile -->
                            <div class="sidebar-section">
                                <h2 class="text-light">Profile</h2>
                                <form action="index.html" method="post" class="form-control-borderless" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="side-profile-name">Name</label>
                                        <input type="text" id="side-profile-name" name="side-profile-name" class="form-control" value="John Doe">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-email">Email</label>
                                        <input type="email" id="side-profile-email" name="side-profile-email" class="form-control" value="john.doe@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-password">New Password</label>
                                        <input type="password" id="side-profile-password" name="side-profile-password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-password-confirm">Confirm New Password</label>
                                        <input type="password" id="side-profile-password-confirm" name="side-profile-password-confirm" class="form-control">
                                    </div>
                                    <div class="form-group remove-margin">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END Profile -->

                            <!-- Settings -->
                            <div class="sidebar-section">
                                <h2 class="text-light">Settings</h2>
                                <form action="index.html" method="post" class="form-horizontal form-control-borderless" onsubmit="return false;">
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Notifications</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Public Profile</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Enable API</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox"><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group remove-margin">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END Settings -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Alternative Sidebar -->

                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Sidebar Brand -->
                    <div id="sidebar-brand" class="themed-background">
                        <a href="index.html" class="sidebar-title">
                            <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">AD<strong>link</strong></span>
                        </a>
                    </div>
                    <!-- END Sidebar Brand -->

                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Sidebar Navigation -->
                            <ul class="sidebar-nav">
                                {% block navigation_links %}
                                    
                                {% endblock %}                                                              
                            </ul>
                            <!-- END Sidebar Navigation -->                            
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->                    
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <header class="navbar navbar-inverse navbar-fixed-top">
                        <ul class="nav navbar-nav-custom">
                            {% block header_link %}{% endblock %} 
                        </ul>
                        <div class="pull-right">
                            <div id="userNav" class="nav user hidden-sm hidden-xs">
                                <div class="user_nav">
                                    <div class="media">
                                        <a class="js_user">
                                            <span class="media-photo">
                                                {% if user.user_profile.profile_image == None %}
                                                <img src="/static/custom/img/avatar-blank.jpg" style="display: table-cell;"> 
                                                {% else %}
                                                <img src="/media/{{user.user_profile.profile_image}}" style="display: table-cell;"> 
                                                {% endif %}
                                            </span>
                                            <span class="media-body">
                                                <span class="user-greeting">Hello, {{user.first_name}}</span>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="popover">
                                        <div class="arrow"></div>
                                        <div class="popover_content">
                                            <ul class="list_group">
                                                <li><a href="/user/profile/"><i class="fa fa-pencil"></i> Edit Profile</a></li>
                                                <li><a href=""><i class="fa fa-cog"></i> Settings</a></li>
                                                <li><a href="/user/logout/"><i class="fa fa-power-off"></i> Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>                                
                        <!-- END Left Header Navigation -->
                        
                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <!-- Inner Sidebar -->
                        <!--div id="page-content-sidebar">
                            <div class="collapse navbar-collapse remove-padding">
                                <div class="block-section">
                                    {% block summary %}
                                        <h4 class="inner-sidebar-header">Favorites</h4>
                                        List of my ADs here
                                    {% endblock %}
                                    
                                </div>                                
                            </div>
                        </div-->
                        
                        <!-- END Inner Sidebar -->

                        <!-- CONTENT DETAILS Header -->
                        <!--div class="row"-->
                            {% block content %}
                            {% endblock %}
                        <!--/div-->
                    </div>
                    <!-- END Page Content -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        <!-- END Page Wrapper -->

        <script type="text/javascript">
            $(document).ready(function(){
                $(".js_user").click(function(){
                    $(".popover").toggle();
                });
            });
        </script>

    </body>
</html>
