{% extends "staff/template1.html" %}

{% block title %} Transactions {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/">Inventory</a></li> 
<li><a href="/staff/transactions/" class="active">Transactions</a></li>

{% endblock %}

{% block navigation_links %}
<li>
    <a href="/staff/transactions/payments/"><i class="gi gi-coins"></i><span class="sidebar-nav-mini-hide">Payments</span></a>
</li>
<li>
    <a href="/staff/transactions/invoices/"><i class="fa fa-file-text-o"></i><span class="sidebar-nav-mini-hide">Invoices</span></a>
</li>

{% endblock %}



{% block content %}  
<div id="revenues-chart">
    Add graph here with calculated revenues for this week(every day)
</div>	

<table  class="table table-striped table-borderless table-vcenter index">
    <thead>
        <tr>
            <th style="background:#B3CA30;color:#fff;">Invoice No</th>
            <th style="background:#69AC0B;color:#fff;">AD ID</th>
            <th style="background:#51D1B5;color:#fff;">Date</th>
            <th style="background:#3DAC95;color:#fff;">Amount</th>
            <th style="background:#434B56;color:#fff;">Method</th>
        </tr>
    </thead>
    <tbody>
        {% for pay in all_payments %}
            <tr><td><a href='/staff/transactions/invoices/{{pay.id}}/'>INV{{pay.id|stringformat:"04d"}}</a></td><td><a href="/staff/ads/{{pay.advert.id}}/">{{pay.advert.id|stringformat:"05d"}}</td><td>{{pay.timestamp}}</td><td>KES {{pay.amount}}</td><td>{{pay.method}}</td></tr>
        {% endfor %}
    </tbody>
</table> 

<script type="text/javascript">
$(document).ready(function(){

draw_payments_chart();


function draw_payments_chart(){
    var dates=[{% for date in payments.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var data = [{% for count in payments.total %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var count = [{% for count in payments.count %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];  

    var options = {    
        chart: {
            renderTo:"revenues-chart",
            alignTicks:false,
            height:300                    
        },
        exporting: {
            enabled: false,
        },
        credits:{
            enabled:false,
        },
        title: {
            text: '',				
        },
        xAxis: {
            categories: dates
        },
        yAxis: [{
            title: {
                text:'Payments',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            floor:0,
            gridLineWidth:0
        },
        {
            title: {
                text:'No. of Payments',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            floor:0,
            gridLineWidth:0,
            opposite: true
        }],
        tooltip:{
            formatter: function() {
                return  '<b>' + this.x +'</b><br><b>'+ this.y +'</b>';                
            }
        },
        series:[{
            type:'column',
            color:'#B5CE33',
            name:'Total',
            data:data,
            yAxis:0,
        },{
            type:'line',
            color:'#7F8DFF',	    //#FFA54F
            name:'No. of Payments',
            data:count,
            yAxis:1
        }]        
    }; 
    
    var chart = new Highcharts.Chart(options);    
    return chart;
}
});
</script>

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>
    
{% endblock%}
