{% extends "staff/template1.html" %}

{% block title %} View Inventory {% endblock %}

{% block header_link %} 

<li><a href="/staff/dashboard/">Dashboard</a></li>
<li><a href="/staff/customers/">Customers</a></li>
<li><a href="/staff/personnel/">Personnel</a></li> 
<li><a href="/staff/locations/">Locations</a></li>
<li><a href="/staff/jobs/">Job Schedule</a></li> 
<li><a href="/staff/inventory/" class="active">Inventory</a></li> 
<li><a href="/staff/transactions/">Transactions</a></li>

{% endblock %}


{% block content %}

<div class="block-title">
    <h2>{{section.location}} / {{section.label}} - View Inventory</h2>
</div>

<!--div class="row"><span class="notification"></span></div>
<div class="row">
    <form action="/staff/transactions/payments/" method="POST" class="filter-form">
    {% csrf_token %}
    <div class="form-group">
        <div class="col-md-3">
            <input type="text" id="start_date" name="start_date" placeholder="Start Date" class="form-control dates">
        </div>
        <div class="col-md-3">
            <input type="text" id="end_date" name="end_date" placeholder="End Date" class="form-control dates">
        </div> 
        <div class="col-md-3">
            <button class="btn btn-block btn-primary" type="submit" id="Search" onclick="return false;">Search</button>
        </div>            
    </div>
    </form>
</div-->

<table  class="table table-striped table-borderless table-vcenter index">
    <thead>
        <tr>
            <th style="background:#B3CA30;color:#fff;">#</th>
            <th style="background:#69AC0B;color:#fff;">Receipt No</th>
            <th style="background:#51D1B5;color:#fff;">Name</th>
            <th style="background:#3DAC95;color:#fff;">Email</th>
            <th style="background:#434B56;color:#fff;">Mobile</th>
            <th style="background:#000000;color:#fff;">Start Date</th>
            <th style="background:#DD4E48;color:#fff;">End Date</th>
            <th style="background:#BF7A7F;color:#fff;">Size</th>
        </tr>
    </thead>
    <tbody>
        {% for inv in inventory %}
            <tr><td>INVT{{inv.id|stringformat:"04d"}}</a></td><td>{{inv.receipt_no}}</td><td>{{inv.first_name}} {{inv.last_name}}</td><td>{{inv.email_address}}</td><td>{{inv.phone_number}}</td><td> {{inv.start_date}}</td><td>{{inv.end_date}}</td><td>{{inv.ad_size}} / {{inv.ad_orientation}}</td></tr>
        {% endfor %}
    </tbody>
</table> 

<script src="/static/appui/js/pages/uiTables.js"></script>
<script>$(function(){ UiTables.init(); });</script>
{% endblock %}
