{% extends 'staff/base_template.html' %}{% load i18n %}

{% block mainlinks %}
    <ul class="nav-mainlinks custom-background">                    
        <li class=""><span><a class="font-on-custom-background" href="/staff/dashboard/">Home</a></span></li>
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/adverts/">Adverts</a></span></li>  
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/users/clients/">Users</a></span></li>
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/locations/">Locations</a></span></li>
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/categories/">Categories</a></span></li>
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/payments/">Payments</a></span></li>
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/reports/">Reports</a></span></li>			
        <li class="custom-background-dark-hover"><span><a class="font-on-custom-background" href="/staff/inventory/">Inventory</a></span></li>								
    </ul>
{% endblock %}

{% block subnav %}
    <ul class="">        
        <li><span class='active'><strong><a class="custom-background-fixed-lightness-95 custom-font-on-white" href="/support/dashboard/"><span>Dashboard</span></a></strong></span></li>
        <li><span><strong><a class="custom-font-on-white" href="/support/tickets/"><span>Tickets</span></a></strong></span></li>
        <li><span><strong><a class="custom-font-on-white" href="#"><span>New Ticket</span></a></strong></span></li>
    </ul>
{% endblock %}

{% block container_header %}
    <h2 class='pt'>	Dashboard</h2>
	
    <div class="clearb"></div>
{% endblock %}

{% block container %}

<div class="alert alert-warning">
<p>{% trans "Welcome to your Helpdesk Dashboard! From here you can quickly see tickets submitted by you, tickets you are working on, and those tickets that have no owner." %}</p>
</div>

{% include 'helpdesk/include/summary.html' %}

<!--{% include 'helpdesk/include/stats.html' %}-->

<!--{% if all_tickets_reported_by_current_user %}
{% trans "All Tickets submitted by you" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=all_tickets_reported_by_current_user ticket_list_empty_message="" %}
{% endif %}-->

<!--{% trans "Open Tickets assigned to you (you are working on this ticket)" as ticket_list_caption %}
{% trans "You have no tickets assigned to you." as no_assigned_tickets %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets ticket_list_empty_message=no_assigned_tickets %}-->

{% include 'helpdesk/include/unassigned.html' %}

{% if user_tickets_closed_resolved %}
{% trans "Closed & resolved Tickets you used to work on" as ticket_list_caption %}
{% include 'helpdesk/include/tickets.html' with ticket_list=user_tickets_closed_resolved ticket_list_empty_message="" %}
{% endif %}

{% endblock %}
