table{
    width:100%;
    /*padding: 10px;*/
}
.form-bordered{
    padding:0px 30px !important;
}
.notification{
    color:rgb(255,0,0);
}
.file-preview {
    border: none !important;
}
.ad_location_date input[type="text"]{
    width:70px;
}
.tile{
    width: 31%;
    height: 150px;    
    margin: 1%;
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    float: left;
    height: 160px;
    margin: 8px;
    padding: 6px;
    text-align: center;
    vertical-align: middle;
}
.big_tile{
    width: 100%;
    margin-right:10px;
    height: 350px;
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    /*float: left;*/
    text-align: center;
    vertical-align: top;
}
.side_tile{
    width: 100%;
    margin-right:10px;
    /*height: 350px;*/
    border: 2px #ccc solid;
    cursor: pointer;     
    border: 1px solid #DDDDDD;
    box-shadow: 1px 1px 5px 0 #A2958A;
    /*display: table;*/
    /*float: left;*/
    text-align: center;
    vertical-align: top;
}
.ad_details{
    table-layout:fixed;
}
.ad_details td .add_border{
    border-right: 1px #000 solid;
}
.ad_details td{
    padding: 5px;
}
img, iframe{
    width:100%;
    height: 100%;
    cursor: pointer;  
    border: none;
}
.active{
    /*background:#CE0000 !important;*/
    color:#000 !important;
    border-right: 4px solid #fff !important;
}
.inner-sidebar-header{
    background:#CE0000;
    width:100%;
    margin:0;
    padding: 10px;
    color:#fff;
    font-weight:bold;
}
#page-container, #sidebar {
    background-color: #312B2D;
}
#sidebar-brand{
    background-color: #312B2D !important;
}
/*#sidebar-brand .themed-background {
    background-color: #312B2D !important;
}*/
.row{
    padding:5px 10px;
}
select{
    background-color: #AFDE5C;
    border-color: #AFDE5C;
    font-size:1.2em;
    color:#fff;
    border:none;
}
.grey{
    color: #000;
    background: #D0CECF;
    font-size:1.2em;
    border:none;
}
.black{
    color: #fff;
    background: #000;
    border:none;
    padding: 2px 20px;
    font-size:1.1em;
}
.navbar.navbar-inverse, .navbar.navbar-inverse.navbar-glass:hover {
    background: none repeat scroll 0 0 #E1DDD4;
    font-size: 1.5em;
    font-weight: normal;
}
iframe{
    overflow: hidden;
}
i{
    padding-right: 10px;
}
.table-striped{
    background: #fff;
}
#page-content{
    background: #f9f9f9 !important;
}
#page-content-sidebar{
    background:#EAE6DD !important;
}
.intl-tel-input{
    width: 100% !important;
}
.profile_avatar {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url("../../custom/img/avatar-blank.jpg");
    border: 1px solid rgb(30, 30, 29);
    border-radius: 50%;
    box-shadow: 0px 0px 6px 0px rgb(24, 24, 24);
    display: block;
    height: 300px;
    margin: 35px auto 20px;
    position: relative;
    width: 300px;
    float: left;
}
.profile_avatar .btn {
    bottom: -5px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
    padding: 3px 6px;
    font-size: 13px;
    line-height: 1.4;
    border-radius: 5px;
    min-height: 26px;
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    border-color: rgb(26, 26, 26);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.39);
    display: inline-block;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    -moz-user-select: none;
}
.profile_avatar > .btn a{
    text-align: center;
    border: 1px solid transparent;
}
.ad_location_date_table{
    font-size:15px;
    border:1px #ccc solid !important;
}
.ad_location_date_table th{
    border:1px #ccc solid !important;
    border-collapse:separate !important;
}
.ad_location_date_table td{
    border:1px #ccc solid !important;
    border-collapse:separate !important;
}
.btn-danger{
    background:#0263E8;
    color:#fff;
    padding: 1px 10px;
    font-size: 25px;
    width:100%;
    border-radius: 5px;
    border-color: #0263E8;
}
.dashboard-background{
    width:85%;
    margin: auto;
}
.dashboard-background img{
    
}
