{% extends "users/user_template.html" %}

{% block title %} {{advert.ad.title}} {% endblock %}

{% block header_link_icon %}<i class="gi gi-tag"></i>{% endblock %}

{% block header_link %} <a href="/user/ads/{{advert.ad.id}}/"><strong>AD INTERFACE</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 
{% endblock %}

{% block summary %}

<h4 class="inner-sidebar-header">AD Summary</h4>
<h1 style="font-weight: bold;text-align:center;">Total</h1>
<h2 style="text-align:center;">KES {{advert.ad.grand_price}}</h2>
<p><label>Category</label><br>
{{advert.ad.category}}</p>
<p><label>Size</label><br>
{{advert.ad.size}}</p>
<p><label>Orientation</label><br>
{{advert.ad.orientation}}</p>

{% endblock %}


{% block content %}
<h2>{{advert.ad.title}}</h2>
<table class="ad_details">
    <tr>
        <td width="50%">
            {% if advert.ad.extension == '.jpg' or advert.ad.extension == '.jpeg' or advert.ad.extension == '.png' or advert.ad.extension == '.gif' %}
                      
                <div class="big_tile"> 
                    <img src="/media/{{advert.ad_url}}">
                </div>
            {% elif advert.ad.extension == '.pdf' %}
                <div class="big_tile">
                    <iframe src="/media/{{advert.ad_url}}"></iframe>
                </div>
            {% elif advert.ad.extension == '.docx' or advert.ad.extension == '.doc' or advert.ad.extension == '.odt' %}
                <div class="big_tile">
                    <iframe src="http://docs.google.com/viewer?url=/media{{advert.ad_url}}&embedded=true"></iframe>
                </div>
            {% endif %}
        </td>        
        <td width="5%">
        </td>

        <td width="45%" class="add_border">
            <p><label>AD ID</label><br>
            {{advert.id}}<br></p>
            <p><label>Uploaded Date</label><br>
            {{advert.ad.booking_date}}<br></p>                       
            <p><label>AD Description</label><br>
            {{advert.ad.description}}</p>
        </td>

    </tr>
    </table>
    <h4 style="font-weight:bold;">AD Schedule</h4>
    <table class="table table-striped table-borderless table-vcenter">
        <tr style="background:#CCC8BF;"><th>Booking Reference</th><th>Location</th><th>Start Date</th><th>End Date</th></tr>
        {% for ba in advert.booked_ads %}
            <tr><td><a href="/user/ad/booking/{{ba.booking_id}}/">{{ba.extended_booking_id}}</a></td><td>{{ba.location}}</td><td>{{ba.start_date}}</td><td>{{ba.end_date}}</td></tr>
        {% endfor %}
    </table>


{% endblock%}



