{% extends "users/user_template.html" %}

{% block title %} AD Cabinet {% endblock %}

{% block header_link_icon %}<i class="gi gi-tags sidebar-nav-icon"></i>{% endblock %}
 
{% block header_link %} <a href="/users/ads/"> <strong>AD CABINET</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/" class="active"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 

{% endblock %}

{% block summary %}
<!--h4 class="inner-sidebar-header">Cabinet Stats</h4>
<label>No. of booked ADs</label>
<label>No. of posted ADs</label>-->
<h4 class="inner-sidebar-header">Cabinet Stats</h4>
<table class="fancy_table">
    <tr><td><a href="">Complete ADs: No</a></td></tr>
    <tr><td><a href="">Incomplete ADs: No</a></td></tr>
    <tr><td><a href="">Total ADs: No</a></td></tr>
    <tr>
        <td colspan="2"><label>Category:</label> <span class="summary_category">--</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>AD Size:</label> 
                    <span class="summary_ad_size">{{ad_sizes.0.1}}</span>  
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>AD Orientation</label>
                    <span class="summary_ad_orientation">{{ad_orientation.0.1}}</span>                       
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Paper Type:</label>  <span class="summary_ad_paper_type">{{ad_paper_type.0.1}}</span> 
                    <p><label>Extra Paper Options:</label> <span class="summary_ad_paper_extra_options">--</span></p>
                    <p><div class="paper_preview_landscape"></div><div class="paper_preview_potrait"></div></p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><label>Title:</label> <span class="summary_ad_title"> -- </span></p>
                    <p><label>Description:</label> <span class="summary_ad_description"> -- </span></p>
                    <p><label>Contact Details:</label><br>
                       Name: <span class="summary_contact_name"> -- </span><br>
                       Mobile Number: <span class="summary_contact_mobile_number"> -- </span><br>
                       Email Address: <span class="summary_contact_email_address"> -- </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>                    
                </td>
            </tr>
        </table>

{% endblock %}

{% block content %}
<div class="row">
    <select name="categories" id="categories">
        <option value=""> Categories </option>
        {% for cat in categories %}
            <option value="{{cat.id}}">{{cat.name}}</option>
        {% endfor %}
    </select>

    <select name="locations" id="locations">
        <option value=""> Location </option>
        {% for loc in locations %}
            <option value="{{loc.id}}">{{loc.name}}</option>
        {% endfor %}
    </select> 
    <button name="search" id="search" class="black">Search</button>
    <button name="reset" id="reset" style="float:right;" class="grey">Reset Filters</button>       
</div>
<div class="row">    
    <select id="list_view" style="float:right;"> 
        <option value="tile_view">Tile View</option>    
        <option value="table_view">List View</option>        
    </select>    
</div>

<div class="row">
    <div class="ads_list_tile_view">
    {% for ad in ads_list%}
        <a href="/user/ads/{{ad.advert.id}}/">
        {% if ad.advert.extension == '.jpg' or ad.advert.extension == '.jpeg' or ad.advert.extension == '.png' or ad.advert.extension == '.gif' %}
                      
            <div class="tile"> 
                <img src="/media/{{ad.ad_url}}">
            </div>
        {% elif ad.advert.extension == '.pdf' %}
            <div class="tile">
                <iframe src="/media/{{ad.ad_url}}"></iframe>
            </div>
        {% elif ad.advert.extension == '.docx' or ad.advert.extension == '.doc' or ad.advert.extension == '.odt' %}
            <div class="tile">
                <iframe src="http://docs.google.com/viewer?url=/media{{ad.ad_url}}&embedded=true"></iframe>
            </div>
        {% endif %}
        </a>
    {% endfor %}
    </div>
</div>

<div class="row">
    <div class="ads_list_table_view">
        <table class="table table-striped table-borderless table-vcenter">
            <thead>
                <tr><th>#</th><th>Start Date</th><th>End Date</th><th>Category</th><th>Location</th><th></th></tr>
            </thead>
            <tbody>
                {% for ad in booked_ads_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{ad.start_date}}</td>
                        <td>{{ad.end_date}}</td>
                        <td>{{ad.category}}</td>
                        <td>{{ad.location}}</td>
                        <td class="text-center">
                            <a href="/user/ad/booking/{{ad.booking_id}}/">View</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">
$(document).ready(function(){
    $(".ads_list_tile_view").css("display","block");
    $(".ads_list_table_view").css("display","none");

    $("#list_view").change(function(){        
        var list_view = $("#list_view").val();
        if(list_view == "table_view"){
            $(".ads_list_tile_view").css("display","none");
            $(".ads_list_table_view").css("display","block");
        }
        else if(list_view == "tile_view"){
            $(".ads_list_tile_view").css("display","block");
            $(".ads_list_table_view").css("display","none");
        }
    });
});
function open_ad_page(id){
    
    //console.log("YOU ARE OPENING THE AD PAGE FOR AD ID: "+id);
}
</script>

{% endblock%}



