<!-DOCTYPE html>
<html>
<head>
<title>Adlink</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<script type="text/javascript" src="/static/custom/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/static/custom/js/common_functions.js"></script>
<link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/assets/css/bootstrap.css">
<link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/assets/css/font-awesome.css">
<link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/assets/css/docs.css" type="text/css">
<link rel="stylesheet" href="http://lipis.github.io/bootstrap-social/bootstrap-social.css" type="text/css">
<link type="text/css" href="/static/custom/css/style.css" rel="stylesheet">
<!--FOR INTERNATIONAL PHONE NUMBERS -->
<link rel="stylesheet" href="/static/telinput/intlTelInput.css">
<script src="/static/telinput/intlTelInput.min.js"></script>

<!--END PNUMBERS-->
<!--link type="text/css" href="/static/custom/css/staff_template_style.css" rel="stylesheet"-->
<!--link type="text/css" href="/static/custom/css/users_template_style.css" rel="stylesheet"-->
</head>
<body>
 
    {% block content %}
    {% endblock %}

    {% block footer %}
    
    {% endblock %}

</body>
</html>
