{% extends "users/user_template.html" %}

{% block title %} {{extended_booking_id}} {% endblock %}

{% block header_link_icon %}<i class="gi gi-tag"></i>{% endblock %}

{% block header_link %} <a href="/user/ad/booking/{{booking.id}}/"><strong>BOOKING SUMMARY</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 

{% endblock %}

{% block summary %}

<h4 class="inner-sidebar-header">AD Details</h4>
<p>{% if ad.extension == '.jpg' or ad.extension == '.jpeg' or ad.extension == '.png' or ad.extension == '.gif' %}
    <div class="side_tile"> 
        <img src="/media/{{ad_url}}">
    </div>
{% elif ad.extension == '.pdf' %}
    <div class="side_tile">
        <iframe src="/media/{{ad_url}}"></iframe>
    </div>
{% elif ad.extension == '.docx' or ad.extension == '.doc' or ad.extension == '.odt' %}
    <div class="big_tile">
        <iframe src="http://docs.google.com/viewer?url=/media{{ad_url}}&embedded=true"></iframe>
    </div>
{% endif %}</p>
<p><label>Title</label><br>
{{ad.title}}</p>
<p><label>Description</label><br>
{{ad.description}}</p>

{% endblock %}


{% block content %}
<h2 style="font-weight:bold;">{{extended_booking_id}}</h2>
<table class="ad_details">
    <tr>
        <td>
            <p><label>Location</label><br>
            {{booking.location.name}}<br></p> 
            <p><label>Start Date</label><br>
            {{booking.start_date}}<br></p>
            <p><label>End Date</label><br>
            {{booking.end_date}}<br></p>                                   
        </td>
        <td>
            <p><label>Size</label><br>
            {{ad.size}}<br></p>
            <p><label>Orientation</label><br>
            {{ad.orientation}}<br></p>                       
        </td>
        <td>
            <p><label>Status</label><br>
            {{booking.status}}<br></p>
            <p><label>Copies</label><br>
            {{booking.quantity}}<br></p>
        </td>
        <td>
            <p><h1 style="margin:0px !important;padding: 0 !important; font-weight: bold;">Total</h1><br>
            <h4 style="margin:0px !important;padding: 0 !important;">KES {% if booking.price == None or booking.price == "" %}0.00{% else %}{{booking.price}}{% endif%}</h4><br></p>
        </td>
        
    </tr>    
    </table>

    <!--h4 style="font-weight:bold;">Transactions</h4>
    <table class="table table-striped table-borderless table-vcenter">
        <tr style="background:#CCC8BF;"><th>Date</th><th>Type</th><th>Status</th></tr>
        {% for ba in advert.booked_ads %}
            <tr><td>{{ba.location}}</td><td>{{ba.start_date}}</td><td>{{ba.end_date}}</td></tr>
        {% endfor %}
    </table-->


{% endblock%}



