{% extends "users/user_template.html" %}

{% block title %} Dashboard {% endblock %}

{% block header_link_icon %}<i class="gi gi-show_lines sidebar-nav-icon"></i>{% endblock %}

{% block header_link %} <a href="/user/dashboard/"><strong>DASHBOARD</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/" class="active"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 

{% endblock %}

{% block summary %}
<!--h4 class="inner-sidebar-header">Dashboard</h4-->
<form method="post" action="/user/ad/book/">
    {% csrf_token %}
    <h4 align="center"><button type="submit" class="btn btn-danger" type="button">BOOK AD</button></h4>
</form>
<h5 style="font-weight: bold;">RECENT ADs</h5>
<table class="table table-striped table-borderless table-vcenter">    
    <tr style="background:#CCC8BF;"><th>ID</th><th>Link</th></tr>    
    {% for ad in ads %}
        <tr><td>AD - {{ad.id|stringformat:"05d"}}</td><td><a href="/user/ads/{{ad.id}}/">View</a></td></tr>
    {% endfor %}
</table>
{% endblock %}

{% block content %}
<div class="dashboard-background" align="center">
<img src="/static/custom/img/background.png">
</div>
<div class="row">
    <h4 align="center" style="font-weight:bold;">Latest ADs</h4>
    <div style="float:right;">
        <select name="categories" id="categories">
            <option value=""> Categories </option>
            {% for cat in categories %}
                <option value="{{cat.id}}">{{cat.name}}</option>
            {% endfor %}
        </select> 

        <select name="locations" id="locations">
            <option value=""> Location </option>
            {% for loc in locations %}
                <option value="{{loc.id}}">{{loc.name}}</option>
            {% endfor %}
        </select> 
        <button name="search" id="search" class="black">Search</button>
        <!--button name="reset" id="reset" style="float:right;" class="grey">Reset Filters</button-->       
    </div>    
</div>
<div class="row">
    <div class="ads_list_tile_view">
    {% for ad in ads_list%}
        <a href="/user/ads/{{ad.advert.id}}/">
        {% if ad.advert.extension == '.jpg' or ad.advert.extension == '.jpeg' or ad.advert.extension == '.png' or ad.advert.extension == '.gif' %}
                      
            <div class="tile"> 
                <img src="/media/{{ad.ad_url}}">
            </div>
        {% elif ad.advert.extension == '.pdf' %}
            <div class="tile">
                <iframe src="/media/{{ad.ad_url}}"></iframe>
            </div>
        {% elif ad.advert.extension == '.docx' or ad.advert.extension == '.doc' or ad.advert.extension == '.odt' %}
            <div class="tile">
                <iframe src="http://docs.google.com/viewer?url=/media{{ad.ad_url}}&embedded=true"></iframe>
            </div>
        {% endif %}
        </a>
    {% endfor %}
    </div>
</div>

{% endblock%}
