{% extends "users/user_template.html" %}

{% block title %} Book an AD {% endblock %}

{% block header_link_icon %} <i class="hi hi-plus sidebar-nav-icon"></i> {% endblock %}

{% block header_link %} <a href="/user/ad/book/"><strong> BOOK AN AD</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book" class="active"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
{% endblock %}

{% block summary %}
<h4 class="inner-sidebar-header">AD Summary</h4>
<table class="fancy_table">
            <tr>
                <td colspan="2"><label>Category:</label> <span class="summary_category">--</span></td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>AD Size:</label> 
                    <span class="summary_ad_size">{{ad_sizes.0.1}}</span>  
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>AD Orientation</label>
                    <span class="summary_ad_orientation">{{ad_orientation.0.1}}</span>                       
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <label>Paper Type:</label>  <span class="summary_ad_paper_type">{{ad_paper_type.0.1}}</span> 
                    <p><label>Extra Paper Options:</label> <span class="summary_ad_paper_extra_options">--</span></p>
                    <p><div class="paper_preview_landscape"></div><div class="paper_preview_potrait"></div></p>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <p><label>Title:</label> <span class="summary_ad_title"> -- </span></p>
                    <p><label>Description:</label> <span class="summary_ad_description"> -- </span></p>
                    <p><label>Contact Details:</label><br>
                       Name: <span class="summary_contact_name"> -- </span><br>
                       Mobile Number: <span class="summary_contact_mobile_number"> -- </span><br>
                       Email Address: <span class="summary_contact_email_address"> -- </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                </td>
            </tr>
        </table>
{% endblock %}

{% block content %}
<!-- Clickable Wizard Block -->
            <div class="block">
                <!-- Clickable Wizard Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" data-toggle="tooltip" title="Settings"><i class="fa fa-cog"></i></a>
                    </div>
                    <h2>Add an Ad Wizard</h2>                    
                </div>
                <!-- END Clickable Wizard Title -->

                <!-- Clickable Wizard Content -->
                <input name="ad_id" type="hidden" value="" id="ad_id">
                <form action="/user/ad/post/1/" method="post" enctype="multipart/form-data" id="post_advert_step_1" class="form-horizontal form-bordered" name="post_advert_step_1">
                    {% csrf_token %}                    
                    <span id="ad_options_notification" class="notification"></span>
                    <!-- First Step -->
                    <div id="clickable-first" class="step ad_options">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="fa fa-pencil-square-o"></i> <strong>Step 1: AD Options</strong></a></li>
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-second"> <i class="gi gi-google_maps"></i> <strong>Step 2: Select Locations</strong></a></li>
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Step 3: Complete</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Step Info -->
                        <table>
                            <tr>
                                <td>
                                    <h4>Upload New</h4>
                                    <input type="file" id="ad_file" name="ad_file">
                                </td>
                                <td>
                                    <h4>Choose Category</h4>
                                        <select id="ad_category" name="ad_category">
                                            <option value=""> -- </option>
                                            {% for cat in categories %}
                                                <option value="{{cat.id}}" cat-name="{{cat.name}}">{{cat.name}}</option>
                                            {% endfor %}
                                        </select>
                                    <h4>Choose Paper Type</h4>                                    
                                        {% for type in ad_paper_type %}
                                        {% if forloop.first  or ad_sizes.count == 1 %}
                                            <input type="radio" value="{{type.0}}" name="ad_paper_type" checked>{{type.1}}</input>
                                        {% else %}
                                            <input type="radio" value="{{type.0}}" name="ad_paper_type">{{type.1}}</input>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                    <h4>Choose Size</h4>
                                        <select id="ad_size" name="ad_size">
                                            {% for size in ad_sizes %}   
                                                <option value="{{size.0}}" orientation-name="{{size.1}}">{{size.1}}</option>
                                            {% endfor %}
                                        </select>
                                    <h4>Choose Orientation</h4>
                                        <select id="ad_orientation" name="ad_orientation">
                                            {% for orientation in ad_orientation %}   
                                                <option value="{{orientation.0}}" orientation-name="{{orientation.1}}">{{orientation.1}}</option>
                                            {% endfor %}
                                        </select>

                                    <h4>Laminate</h4>
                                        <div class="col-md-8">
                                            <label class="switch switch-primary" for="ad_paper_extra_options">
                                                <input type="checkbox" id="ad_paper_extra_options" name="ad_paper_extra_options" value="1">
                                                <span data-toggle="tooltip" title="Do you wish to laminate your AD?"></span>
                                            </label>
                                        </div>                                    
                                </td>
                            </tr>                            
                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                        <label class="sr-only" for="ad_title">Title</label>
                                        <input type="text" id="ad_title" name="ad_title" class="form-control" placeholder="Title">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                        <label class="sr-only" for="ad_description">Description</label>
                                        <textarea id="ad_description" name="ad_description" class="form-control" placeholder="Add description here..."></textarea>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                        <label class="sr-only" for="contact_name">Contact Name</label>
                                        <input type="text" id="contact_name" name="contact_name" class="form-control" placeholder="Contact Name">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                        <label class="sr-only" for="contact_email_address">Contact Email</label>
                                        <input type="text" id="contact_email_address" name="contact_email_address" class="form-control" placeholder="Contact Email Address">
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="3">
                                    <div class="form-group">
                                        <label class="sr-only" for="contact_mobile_number">Contact Mobile</label>
                                        <input type="text" id="contact_mobile_number" name="contact_mobile_number" class="form-control" placeholder="Contact Mobile Number">
                                    </div>
                                </td>
                            </tr>   
                        </table> 
                        <!-- Form Buttons -->
                        <div class="form-group form-actions">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="submit" class="btn btn-effect-ripple btn-primary" id="next2" onclick="return false;">Next</button>
                            </div>
                        </div>
                        <!-- END Form Buttons -->                       
                    </div>
                    <!-- END First Step -->
                    </form>
                    <form action="/user/ad/post/2/" method="post" id="post_advert_step_2" class="form-horizontal form-bordered">
                    <!-- Second Step -->
                    <div id="clickable-second" class="step ad_location_date">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="fa fa-pencil-square-o"></i> <strong>Step 1: AD Options</strong></a></li>
                                    <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-second"> <i class="gi gi-google_maps"></i> <strong>Step 2: Select Locations</strong></a></li>
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Step 3: Complete</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Step Info -->
                        <table class="table table-striped table-borderless table-vcenter ad_location_date_table ">
                            <tr><th>Location</th><th>Duration</th><th>Start Date</th><th>End Date</th><th>Quantity</th><th>Price</th></tr>
                            <tr class="add_location_tr"><td colspan="7"><button id="add_new_location" class="button green" onclick="return false;">+ Add Location</button></td></tr>
                            <tr class="show_total_tr"><td colspan="5"></td><td><b>Total <br>(VAT inc.)</b></td><td class="show_total"  colspan="2">0.00</td></tr>
                            <tr class="show_print_tr"><td colspan="5"></td><td><b>Print (<span class="show_print_copies"></span> copies)</b></td><td class="show_print_total"  colspan="3">0.00</td></tr>
                            <tr class="show_grand_total_tr"><td colspan="5"></td><td><b>Grand Total</b></td><td class="show_grand_total"  colspan="2">0.00</td></tr>
                         </table>  
                        <input type="hidden" value="" id="location_date_summary" name="location_date_summary">
                        <!-- Form Buttons -->
                        <div class="form-group form-actions">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="reset" class="btn btn-effect-ripple btn-default" id="back1" onclick="return false;">Back</button>
                                <button type="submit" class="btn btn-effect-ripple btn-primary" id="next3" onclick="return false;">Next</button>
                            </div>
                        </div>
                        <!-- END Form Buttons -->
                    </div>
                    <!-- END Second Step -->
                    </form>
                    <form action="/user/ad/post/3/" method="post" id="post_advert_step_3" class="form-horizontal form-bordered">
                    <!-- Third Step -->
                    <div id="clickable-third" class="step ad_payment">
                        <!-- Step Info -->
                        <div class="form-group">
                            <div class="col-xs-12">
                                <ul class="nav nav-pills nav-justified clickable-steps">
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="fa fa-pencil-square-o"></i> <strong>Step 1: AD Options</strong></a></li>
                                    <li><a href="javascript:void(0)" data-gotostep="clickable-second"> <i class="gi gi-google_maps"></i> <strong>Step 2: Select Locations</strong></a></li>
                                    <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Step 3: Complete</strong></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- END Step Info -->
                        <div class="ad_payment">            
                            <div class="payment_instructions">
                                <label>Make Payment</label>
                                <h5>Instructions</h5>
                                <ul>
                                <li>You need to be an M-PESA registered customer</li>
                                <li>Go to M-PESA on your phone menu</li>
                                <li>Select Payment Services</li>
                                <li>Select PayBill</li>
                                <li>Enter Business Number 'bill_no_here'</li>
                                <li>Enter the Account Number 'account_no_here'</li>
                                <li>Enter the amount KES 'enter_cart_amount_here'</li>
                                <li>Enter your M-PESA PIN</li>
                                <li>Confirm details are correct and press OK</li>
                                <li>After you receive the confirmation SMS, enter your phone number and the Confirmation Code
                                <li>Click on Complete</li>
                                </ul>
                                Enter payment details:
                                <p>Mobile Number: <input type="text" name="payment_mobile_number" id="payment_mobile_number"></p>
                                <p>Confirmation Code: <input type="text" name="payment_confirmation_code" id="payment_confirmation_code"></p>   
                                <input type="hidden" id="total_price" name="total_price" value="">
                            </div>
                        </div>  
                        <!-- Form Buttons -->
                        <div class="form-group form-actions">
                            <div class="col-md-8 col-md-offset-4">
                                <button type="reset" class="btn btn-effect-ripple btn-default" id="back2">Back</button>
                                <button type="submit" class="btn btn-effect-ripple btn-primary" id="complete_payment">Complete</button>
                            </div>
                        </div>
                        <!-- END Form Buttons -->
                    </div>
                    <!-- END Third Step -->                    
                </form>
                <!-- END Clickable Wizard Content -->
            </div>
            <!-- END Clickable Wizard Block -->


<script src="/static/shop/adlink.shop.js"></script>

<script type="text/javascript">
$(document).ready(function(){    
    //update rates value
    var ad_size = "A1";
    var ad_orientation = "Portrait";
    var ad_paper_type = "Normal";

    "{% for rate in daily_rates %}"
        var obj = {};
        obj['location'] = "{{rate.name}}";
        obj['a1'] = "{{rate.a1_price}}";
        obj['a2'] = "{{rate.a2_price}}";
        obj['a3'] = "{{rate.a3_price}}";
        obj['a4'] = "{{rate.a4_price}}";
        obj['a5'] = "{{rate.a5_price}}";
        daily_rates.push(obj);
    "{% endfor %}"

    "{% for rate in weekly_rates %}"
        var obj = {};
        obj['location'] = "{{rate.name}}";
        obj['a1'] = "{{rate.a1_price}}";
        obj['a2'] = "{{rate.a2_price}}";
        obj['a3'] = "{{rate.a3_price}}";
        obj['a4'] = "{{rate.a4_price}}";
        obj['a5'] = "{{rate.a5_price}}";
        weekly_rates.push(obj);
    "{% endfor %}"

    "{% for rate in monthly_rates %}"
        var obj = {};
        obj['location'] = "{{rate.name}}";
        obj['a1'] = "{{rate.a1_price}}";
        obj['a2'] = "{{rate.a2_price}}";
        obj['a3'] = "{{rate.a3_price}}";
        obj['a4'] = "{{rate.a4_price}}";
        obj['a5'] = "{{rate.a5_price}}";
        monthly_rates.push(obj);
    "{% endfor %}"

    "{% for rate in yearly_rates %}"
        var obj = {};
        obj['location'] = "{{rate.name}}";
        obj['a1'] = "{{rate.a1_price}}";
        obj['a2'] = "{{rate.a2_price}}";
        obj['a3'] = "{{rate.a3_price}}";
        obj['a4'] = "{{rate.a4_price}}";
        obj['a5'] = "{{rate.a5_price}}";
        yearly_rates.push(obj);
    "{% endfor %}"     
    
    changePrice(ad_size, ad_paper_type,"");

    $("#ad_file").fileinput({
		showUpload: false,
		showCaption: false,
        showPreview: true,
        showCancel: false,
        showClose: false,
        browseIcon:"<i class='gi gi-folder_open'></i>",
		browseClass: "btn btn-info",
        browseLabel: "Upload",
        allowedFileExtensions:['docx','doc','png','jpeg','jpg','gif','pdf']
	});

    $("#ad_options_notification").html(""); 
    $(".ad_options").css("display","block");    
    $(".ad_location_date").css("display","none");
    $(".ad_payment").css("display","none");

    $("#ad_category").change(function(){
        var category_name = $('option:selected', this).attr('cat-name');
        $(".summary_category").text(category_name);
    });    

    $("#ad_orientation").change(function(){
        ad_orientation = $('option:selected', this).val();
        $(".summary_ad_orientation").text(ad_orientation);
    }); 

    $("#ad_size").change(function(){
        ad_size = $('option:selected', this).val();
        ad_paper_type = $("input[name=ad_paper_type]:checked").val();
        /*var lamination = "";
        if($("#ad_paper_extra_options").is(":checked")){
            lamination = $("#ad_paper_extra_options").val();
        } */       
                      
        $(".summary_ad_size").text(ad_size);
        changePrice(ad_size, ad_paper_type, "");
    }); 

    $("input[name=ad_paper_type]").click(function(){
        ad_paper_type = $("input[name=ad_paper_type]:checked").val();
        ad_size = $("#ad_size").val();
        /*var lamination = "";
        if($("#ad_paper_extra_options").is(":checked")){
            lamination = $("#ad_paper_extra_options").val();
        }*/


        $(".summary_ad_paper_type").text(ad_paper_type);        
        changePrice(ad_size, ad_paper_type, "");            
    });   

    $("#ad_paper_extra_options").click(function(){
        ad_paper_type = $("input[name=ad_paper_type]:checked").val();
        ad_size = $("#ad_size").val();
        var lamination = "";

        if($(this).is(":checked")){
            $("#ad_paper_extra_options").val("Laminate");
            $(".summary_ad_paper_extra_options").text("Laminate"); 
            $(".paper_preview_landscape").addClass("laminate");           
            $(".paper_preview_potrait").addClass("laminate");           
            lamination = $("#ad_paper_extra_options").val();
        }
        else{
            $("#ad_paper_extra_options").val("");
            $(".summary_ad_paper_extra_options").text("");
            $(".paper_preview_landscape").removeClass("laminate");           
            $(".paper_preview_potrait").removeClass("laminate");
            lamination = "";
        }
        changePrice(ad_size, ad_paper_type, "");
    });

    //change title, description and contact details on keyup
    $("#ad_title").keyup(function(){
        $(".summary_ad_title").text($(this).val());
    });
    $("#ad_description").keyup(function(){
        $(".summary_ad_description").text($(this).val());
    });
    $("#contact_name").keyup(function(){
        $(".summary_contact_name").text($(this).val());
    });
    $("#contact_mobile_number").keyup(function(){
        $(".summary_contact_mobile_number").text($(this).val());
    });
    $("#contact_email_address").keyup(function(){
        $(".summary_contact_email_address").text($(this).val());
    });

    //choose location btn
    $("#next2").click(function(){
        $("#ad_options_notification").html("");        

        $("#ad_category").removeClass("inputError");
        $("#ad_title").removeClass("inputError");
        $("#ad_description").removeClass("inputError");
        $("#contact_mobile_number").removeClass("inputError");
        $("#contact_email_address").removeClass("inputError");

        var mobile_number = $("#contact_mobile_number").val();
        var email_address = $("#contact_email_address").val();
        var category = $("#ad_category").val();
        var isValid = $("#contact_mobile_number").intlTelInput("isValidNumber");
        var title = $("#ad_title").val();
        var description = $("#ad_description").val();
        var file = $("#ad_file").val();

        if(category == ""){
           $("#ad_options_notification").html("Please select a category first");
           $("#ad_category").addClass("inputError");
        }
        else if(mobile_number != "" && isValid == false){
            $("#ad_options_notification").html("Enter a valid mobile number.");
            $("#contact_mobile_number").addClass("inputError");
        }
        else if(email_address != "" && !validateEmail(email_address)){
            $("#ad_options_notification").html("Enter a valid email address.");
            $("#contact_email_address").addClass("inputError");
        }
        else if(title == ""){
            $("#ad_options_notification").html("Please enter a title.");
            $("#ad_title").addClass("inputError");
        }
        else if(description == ""){
            $("#ad_options_notification").html("Please enter a description.");
            $("#ad_description").addClass("inputError");
        }

        //check if file has been uploaded
        else if(file == ""){
            $("#ad_options_notification").html("Upload your AD file first.");
        }
        else{
            //var formData = new FormData($('form')[0]);
            //check if AD id is not empty - if its not empty then just update AD, else create a new one
            if($.trim($("#ad_id").val()) == ""){
                var form = document.forms.namedItem("post_advert_step_1");
                var formData = new FormData(form);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                $.ajax({
                    url : $("#post_advert_step_1").attr('action'),
                    type: 'POST',
                    processData: false,
                    contentType: false,                
                    data: formData,
                    success : function (response) {
                        if(response == "error"){
                            //do nothing
                        }
                        else{
                            $("#ad_id").val(response);
                            $("#ad_category").removeClass("inputError");
                            $("#contact_mobile_number").removeClass("inputError");
                            $("#contact_email_address").removeClass("inputError");
                            $(".ad_location_date").css("display","block");
                            $(".ad_options").css("display","none");
                            $(".ad_payment").css("display","none");
                        }
                    }
                });                
            }
            else{
                //just update the AD
                var form = document.forms.namedItem("post_advert_step_1");
                var formData = new FormData(form);
                //formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
                formData.append('update', 'update');
                formData.append('ad_id', $.trim($("#ad_id").val()));
                $.ajax({
                    url : $("#post_advert_step_1").attr('action'),
                    type: 'POST',
                    processData: false,
                    contentType: false,                
                    data: formData,
                    success : function (response) {
                        if(response == "error"){
                            //do nothing
                        }
                        else{
                            $("#ad_id").val(response);
                            $("#ad_category").removeClass("inputError");
                            $("#contact_mobile_number").removeClass("inputError");
                            $("#contact_email_address").removeClass("inputError");
                            $(".ad_location_date").css("display","block");
                            $(".ad_options").css("display","none");
                            $(".ad_payment").css("display","none");
                        }
                    }
                });
            }
        }        
    });

    //create a new row
    function create_new_row(){         
        createRow = true;
        $('.ad_location_date_table tr').find('input').each(function(){            
            if($.trim($(this).val()) == ""){
                $(this).addClass('inputError');
                createRow = false;                
                return false;
            }            
        });

        if(createRow == false){
            $("#ad_options_notification").html("Fill all blank fields.");
        }
        else{
            //create new row
            var count = $(".location_row").length + 1;
            var new_row = ("<tr class='location_row'>"+
                "<td>"+
                    "<select class='location' id='location"+count+"' count='"+count+"'>{% for location in locations %}<option value='{{location.name}}'>{{location.name}}</option> {% endfor %}</select>"+
                "</td>"+
                "<td><input type='text' value='1' class='date_range' id='date_range"+count+"' count='"+count+"'><select class='duration' id='duration"+count+"' count='"+count+"'>{% for dur in durations %}<option value='{{dur.0}}'>{{dur.1}}</option>{% endfor %}</select></td>"+
                "<td><input type='text' class='start_date' id='start_date"+count+"' count='"+count+"'></td>"+
                "<td><input type='text' class='end_date' id='end_date"+count+"' count='"+count+"'></td>"+
                "<td><input type='text' class='quantity' id='quantity"+count+"' value='1' count='"+count+"'></td>"+
                "<td><span class='price' id='price"+count+"' count='"+count+"'>0</span></td>"+
                "<td>"+
                    "<span class='notification' id='reserve_notification"+count+"'></span><br>"+
                    "<button class='check_availability button green create' id='reserve_spaces"+count+"' count='"+count+"' onclick='return false;'>Reserve Spaces</button>"+
                    //"<button class='reserve_spaces button green create' id='reserve_spaces""' count='"+count+"' onclick='return false;'>Reserve Spaces</button>"+
                    "<button class='cancel_reservation button green create' id='cancel_reservation"+count+"' count='"+count+"' onclick='return false;'>Cancel Reservations</button>"+
                "</td>"+
                "<td><button class='remove_location button green create' onclick='return false;' count='"+count+"'>-</button></td>"+
                "</tr>"
            );

            $(".add_location_tr").before(new_row);            
            $("#cancel_reservation"+count).hide();
            
            var duration = $("#duration"+count).val();
            changeTotalRate(count, duration);      
            update_total_copies();
            update_total_price();
            update_grand_price();            
        }
    }

    $("#add_new_location").click(function(){
        $("#ad_options_notification").html(""); 
        $('.ad_location_date_table tr').find('input').each(function(){            
            $(this).removeClass('inputError');
        });
        create_new_row();
    });
    $(document).on("click",".remove_location", function(){        
        var count = $(this).attr('count');
        //check if cancel reservation button is showing and then delete reservation
        if($("#cancel_reservation"+count).is(":visible")){
            var start_date = $("#start_date"+count).val();
            var end_date = $("#end_date"+count).val();
            var quantity = $("#quantity"+count).val();        
            var location_id = $("#location"+count).val();
            
            
            delete_reservations(count, location_id, quantity, start_date, end_date);
        }
        var this_row = $(this).parent().parent();
        this_row.remove();        
        update_total_copies();
        update_total_price();
        update_grand_price();
    });

    $(document).on("click", ".check_availability", function(){
        $("#ad_options_notification").html("");
        $("#reserve_notification"+count).html("");
        //check what dates are available then update the calendar
        var count = $(this).attr('count');
        var start_date = $("#start_date"+count).val();
        var end_date = $("#end_date"+count).val();
        var quantity = $("#quantity"+count).val();        
        var location_id = $("#location"+count).val();
        

        reserveSpace = true;
        $('.ad_location_date_table tr').find('input').each(function(){
            if($.trim($(this).val()) == ""){
                $(this).addClass('inputError');
                reserveSpace = false;                
                return false;
            }
        });

        if(reserveSpace == false){
            $("#ad_options_notification").html("Enter valid start and end dates.");
        }
        else{        
            get_available_spaces(count, location_id, quantity, start_date, end_date);
        }
    });

    $(document).on("click", ".cancel_reservation", function(){
        $("#ad_options_notification").html("");
        $("#reserve_notification"+count).html("");
        //check what dates are available then update the calendar
        var count = $(this).attr('count');
        var start_date = $("#start_date"+count).val();
        var end_date = $("#end_date"+count).val();
        var quantity = $("#quantity"+count).val();        
        var location_id = $("#location"+count).val();
        
        
        delete_reservations(count, location_id, quantity, start_date, end_date);
    });


    //on change of date range
    $(document).on("keyup",".date_range", function(){
        var count = $(this).attr('count');
        var duration = $("#duration"+count).val();
        var start_date = $.trim($("#start_date"+count).val());
        if(start_date != ""){
            prefillEndDate(count);
        }
        changeTotalRate(count, duration);      
        update_total_copies();
        update_total_price();
        update_grand_price();  
    });

    //on change of duration
    $(document).on("change",".duration", function(){
        var count = $(this).attr('count');
        var duration = $("#duration"+count).val();
        var start_date = $.trim($("#start_date"+count).val());
        if(start_date != ""){
            prefillEndDate(count);
        }
        changeTotalRate(count, duration);
        update_total_copies();
        update_total_price();
        update_grand_price();
    });

    //on change of quantity/copies
    $(document).on("keyup",".quantity", function(){
        var count = $(this).attr('count'); 
        var duration = $("#duration"+count).val();       
        changeTotalRate(count, duration); 
        update_total_copies();
        update_total_price();
        update_grand_price();       
    });

    $(document).on("change",".location",function(){
        var count = $(this).attr('count');
        var duration = $("#duration"+count).val();
        changeTotalRate(count, duration);
        update_total_copies();
        update_total_price();
        update_grand_price();
    });

    

    //add datepickers
    $(".end_date").datepicker();

    $(document).on('focus',".start_date", function(){
        $(this).datepicker({   
            //'minDate': to_date_time,
            'dateFormat': 'yy-mm-dd',
            onSelect: function () {	
                var count = $(this).attr('count');
                prefillEndDate(count);                                               
           },					
        });
    });  

    function prefillEndDate(count){
        var date_range = $.trim($("#date_range"+count).val());
        var date_range_microseconds;

        if(date_range == ""){
            //$("#date_range"+count).addClass('inputError');
        }
        else{
            $("#date_range"+count).removeClass('inputError');
            //get duration and get the number of days
            var duration = $("#duration"+count).val();
            date_range = parseInt(date_range);

            if(duration == "Days"){
                date_range_ms = fromDays(date_range);
            }
            else if(duration == "Weeks"){
                date_range_ms = fromWeeks(date_range);
            }
            else if(duration == "Months"){
                date_range_ms = fromMonths(date_range);
            }	
            var start_date_time=$('#start_date'+count).datepicker('getDate').getTime();
            var end_date_time=start_date_time + date_range_ms;				
            $('#end_date'+count).val(dashed_formatted_date(new Date(end_date_time)));
        }  
    }

    //save AD to cart
    $("#next3").click(function(){
        $("#ad_options_notification").html("");
        proceed_to_pay = true;

        var count = $(".location_row").length;

        if(count < 1){   
            //enter at least one location first
            $("#ad_options_notification").html("Add at least one location.");
            proceed_to_pay = false;
        }
        else{        
            $('.ad_location_date_table tr').find('input').each(function(){            
                if($.trim($(this).val()) == ""){
                    $(this).addClass('inputError');
                    proceed_to_pay = false;
                    return false;
                }            
            });

            if(proceed_to_pay == false){
                $("#ad_options_notification").html("Fill all blank fields.");
            }
            else{    
                //get all information of the AD
                var category = $("#ad_category").val();
                var size = $("#ad_size").val();
                var location_arr = [];

                //for location, loop through all location rows collecting all required information and push them to cart
                $(".ad_location_date_table").find(".location_row").each(function(){ 
                    var location = $(this).find(".location").val();
                    var start_date = $(this).find(".start_date").val();
                    var end_date = $(this).find(".end_date").val();
                    var quantity = $(this).find(".quantity").val();
                    var price = $(this).find(".price").text();

                    var locationToPush = {};             
                    locationToPush["locationID"] = location;
                    locationToPush["startDate"] = start_date;
                    locationToPush["endDate"] = end_date;
                    locationToPush["quantity"] = quantity;
                    locationToPush["price"] = price;

                    location_arr.push(locationToPush);
                });
                
                $("#location_date_summary").val(JSON.stringify(location_arr));        

                $(".ad_payment").css("display","block");
                $(".ad_options").css("display","none");    
                $(".ad_location_date").css("display","none");
            }
        }        
    });

    $("#complete_payment").click(function(){        
        $("#ad_options_notification").html("");
        var payment_confirmation_code = $.trim($("#payment_confirmation_code").val());
        var payment_mobile_number = $.trim($("#payment_mobile_number").val());

        if(payment_confirmation_code == "" || payment_mobile_number == ""){
            $("#ad_options_notification").html("Enter valid confirmation code and mobile number.");
        }
        else{
            $("#total_price").val(grand_price);
            $("#post_advert").submit();
        }
    });
    $("#back1").click(function(){
        $("#ad_options_notification").html(""); 
        $(".ad_options").css("display","block");    
        $(".ad_payment").css("display","none");
        $(".ad_location_date").css("display","none");
    });

    $("#back2").click(function(){
        $("#ad_options_notification").html("");
        $(".ad_options").css("display","none");
        $(".ad_payment").css("display","none");
        $(".ad_location_date").css("display","block");
    });

    function changePrice(size, paper_type, lamination){
        if(paper_type == "Normal"){
            //ad_size and ad paper type        
            if(size == "A1"){
                normal_price = parseFloat("{{A1_normal_price}}").toFixed(2); 
                gloss_price = 0;   
            }
            else if(size == "A2"){
                normal_price = parseFloat("{{A2_normal_price}}").toFixed(2);
                gloss_price = 0;   
            }
            else if(size == "A3"){
                normal_price = parseFloat("{{A3_normal_price}}").toFixed(2);
                gloss_price = 0;   
            }
            else if(size == "A4"){
                normal_price = parseFloat("{{A4_normal_price}}").toFixed(2);
                gloss_price = 0;   
            }
            else if(size == "A5"){
                normal_price = parseFloat("{{A5_normal_price}}").toFixed(2);
                gloss_price = 0;   
            }
        }
        else if(paper_type == "Gloss"){
            //ad_size and ad paper type        
            if(size == "A1"){
                gloss_price = parseFloat("{{A1_gloss_price}}").toFixed(2);    
                normal_price = 0;   
            }
            else if(size == "A2"){
                gloss_price = parseFloat("{{A2_gloss_price}}").toFixed(2);
                normal_price = 0;   
            }
            else if(size == "A3"){
                gloss_price = parseFloat("{{A3_gloss_price}}").toFixed(2);
                normal_price = 0;   
            }
            else if(size == "A4"){
                gloss_price = parseFloat("{{A4_gloss_price}}").toFixed(2);
                normal_price = 0;   
            }
            else if(size == "A5"){
                gloss_price = parseFloat("{{A5_gloss_price}}").toFixed(2);
                normal_price = 0;   
            }
        }
        
        if(lamination != ""){
            if(size == "A1"){
                lamination_price = parseFloat("{{A1_lamination_price}}").toFixed(2);
            }
            else if(size == "A2"){
                lamination_price = parseFloat("{{A2_lamination_price}}").toFixed(2);
            }
            else if(size == "A3"){
                lamination_price = parseFloat("{{A3_lamination_price}}").toFixed(2);
            }
            else if(size == "A4"){
                lamination_price = parseFloat("{{A4_lamination_price}}").toFixed(2);
            }
            else if(size == "A5"){
                lamination_price = parseFloat("{{A5_lamination_price}}").toFixed(2);
            }
        }
        else{
            lamination_price = parseFloat(0).toFixed(2);
        }
        total_print_price = calculateTotalPrintPrice(normal_price, gloss_price, lamination_price);   
        updatePrintPrice(normal_price, gloss_price, lamination_price, ad_size);
        update_total_copies();
        update_total_price();
        update_grand_price();
    }

    $("#contact_mobile_number").intlTelInput({
        'allowExtensions':false,
        'autoformat':true,
        'autoPlaceholder':false,
        'defaultCountry':"KE",
        'nationalMode':true,
        'utilsScript':"/static/telinput/lib/libphonenumber/build/utils.js",
    });
           

    function changeTotalRate(count, duration){        
        //change date
        var size = $("#ad_size").val();
        var location = $("#location"+count).val();
        var date_range = $("#date_range"+count).val();        
        if(date_range == ""){
            date_range = 1;            
        }
        var duration = $("#duration"+count).val();
        var daily_price = 0;
        var weekly_price = 0;
        var monthly_price = 0;
        var total_rate = 0;

        if(duration == "Days"){            
            daily_price = get_price_per_day(size, location);
            total_rate = daily_price * parseInt(date_range);
        }
        else if(duration == "Weeks"){
            weekly_price = get_price_per_week(size, location);
            total_rate = weekly_price * parseInt(date_range);
        }
        else if(duration == "Months"){
            monthly_price = get_price_per_month(size, location);
            total_rate = monthly_price * parseInt(date_range);
        }

        var copies = $("#quantity"+count).val();
        if(copies == ""){
            copies = 1;            
        }
        $("#price"+count).text(parseFloat(total_rate)*parseFloat(copies));
    } 

    function delete_reservations(count, location_id, quantity, start_date, end_date){
        var ad_id = $("#ad_id").val();

        $.ajax({
            url:'/delete_reservations/',
            type: 'POST',
            data:{
                'location_id': location_id,
                'quantity': quantity,
                'start_date': start_date,
                'end_date': end_date,
                'ad_id':ad_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            beforeSend: function(){
            },
            success: function(response){
                if(response == 1){
                    $("#reserve_notification"+count).html("");
                    $("#reserve_spaces"+count).show();
                    $("#cancel_reservation"+count).hide();
                }
                else{
                    $("#reserve_notification"+count).html("An error has occured while canceling your reservation.");
                }
            }
        });
    }

    function get_available_spaces(count, location_id, quantity, start_date, end_date){
        var ad_id = $("#ad_id").val();

        $.ajax({
            url:'/available_spaces/',
            type: 'POST',
            data:{
                'location_id': location_id,
                'size':  ad_size,
                'orientation': ad_orientation,
                'quantity': quantity,
                'start_date': start_date,
                'end_date': end_date,
                'ad_id':ad_id,
                'csrfmiddlewaretoken':'{{csrf_token}}'
            },
            //dataType:'json',
            beforeSend: function(){
            },
            success: function(response){
                console.log("RESPONSE: "+response);
                if(parseInt(response) >= parseInt(quantity)){
                    $("#reserve_notification"+count).html("");
                    $("#reserve_spaces"+count).hide();
                    $("#cancel_reservation"+count).show();
                    
                }
                else{
                    $("#reserve_notification"+count).html("No spaces available for this AD size on these dates.");
                }
            }
        });
    }
    function check_assign_space(size, orientation, space){
        //check available dates
        for(i=0; i<available_spaces.length; i++){
            //check if the size is the same as the 
            //if(available_spaces[i]['ad_size'])
            /*
            1. Show how many spaces are available
            2. Calculate AD Size based on how many are there
            3. Check if there is available space
            4. Check if you can fit
            
            */
            /*
                1. first off check if there is any available space that can fit this AD size
                2. If option 1 fails, check if there is a space available for that can fit a the AD perfectly
                3. If option 2 fails, check if there is a booked space that can fit an AD in between

            */
            
            
            if(size == "A5" && orientation == "Landscape"){
                /*
                    3. Check the space size and see how many ads can fit in that position
                */
            }
            else if(size =="A5" && orientation == "Portrait"){
            }
            else if(size == "A4" && orientation == "Landscape"){
            }
            else if(size =="A4" && orientation == "Portrait"){
            }
            else if(size == "A3" && orientation == "Landscape"){
            }
            else if(size =="A3" && orientation == "Portrait"){
            }
            else if(size == "A2" && orientation == "Landscape"){
            }
            else if(size =="A2" && orientation == "Portrait"){
            }
            else if(size == "A1" && orientation == "Landscape"){
            }
            else if(size =="A1" && orientation == "Portrait"){
            }

        }
    }


});
</script>

{% endblock %}
