{% extends "users/user_template.html" %}

{% block title %} My Transactions {% endblock %}

{% block header_link_icon %} <i class="gi gi-coins sidebar-nav-icon"></i> {% endblock %}

{% block header_link %} <a href="/user/transactions/"><strong>TRANSACTIONS</strong></a> {% endblock %}

{% block navigation_links %}
<li>
    <a href="/user/dashboard/"><i class="gi gi-show_lines sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
</li>
<li>
    <a href="/user/profile/"><i class="gi gi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Customer Profile</span></a>
</li>
<li>
    <a href="/user/ads/"><i class="gi gi-tags sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">AD Cabinet</span></a>
</li>
<li>
    <a href="/user/ad/book"><i class="hi hi-plus sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Book AD</span></a>
</li>
<li>
    <a href="/user/transactions/" class="active"><i class="gi gi-coins sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Transactions</span></a>
</li>  
<li>
    <a href="/support/"><i class="gi gi-message_empty"></i><span class="sidebar-nav-mini-hide">Customer Support</span></a>
</li> 

{% endblock %}

{% block summary %}
<!--h4 class="inner-sidebar-header">Dashboard</h4>
Add something here-->
{% endblock %}


{% block content %}  
<table  class="table table-striped table-borderless table-vcenter">
    <thead>
        <tr><th>AD ID</th><th>Transaction Ref</th><th>Date</th><th>Amount</th><th>Method</th></tr>
    </thead>
    <tbody>
        {% for pay in all_payments %}
            <tr><td><a href="/user/ads/{{pay.advert.id}}/">{{pay.advert.id|stringformat:"05d"}}</td><td>{% if pay.reference == None or pay.reference == "" %} -- {% else %}{{pay.reference}}{% endif %}</td><td>{{pay.timestamp}}</td><td>KES {{pay.amount}}</td><td>{{pay.method}}</td></tr>
        {% endfor %}
    </tbody>
</table> 

<div id="revenues-chart">
    Add graph here with calculated revenues for this week(every day)
</div>	

<script type="text/javascript">
$(document).ready(function(){

draw_payments_chart();


function draw_payments_chart(){
    var dates=[{% for date in payments.dates %}
        ["<b>{{ date }}</b>"],
    {% endfor %}];

    var data = [{% for count in payments.total %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];   

    var count = [{% for count in payments.count %}
        [{{ forloop.counter0 }}, {{ count }}],
    {% endfor %}];  

    var options = {    
        chart: {
            renderTo:"revenues-chart",
            alignTicks:false,
            height:300                    
        },
        credits:{
            enabled:false,
        },
        title: {
            text: 'Payments in Last 7 days',				
        },
        xAxis: {
            categories: dates
        },
        yAxis: [{
            title: {
                text:'Payments',
                style:{
                    fontWeight:'bold',
                    fontSize:'14px',
                    color:'#000'
                } 
            },
            floor:0,
            gridLineWidth:0
        }],
        tooltip:{
            formatter: function() {
                return  '<b>' + this.x +'</b><br><b>'+ this.y +'</b>';                
            }
        },
        series:[]        
    };   
         
    options.series.push({
        type:'column',
        color:'#FFA54F',	    
        name:'Total',
        data:data
    });
    
    options.series.push({
        type:'line',
        color:'#7F8DFF',	    
        name:'No. of Payments',
        data:count
    });
   
    
    var chart = new Highcharts.Chart(options);    
    return chart;
}
});
</script>
    
{% endblock%}
